{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {
  $(document).data('initialEventName', '{{ initial_event_name }}');
});
</script>
<script type="text/javascript" src="javascript/authentication_dropdown.js?v561"></script>
{% endblock %}

{% block login %}
class="activePage"
{% endblock %}


{% block description_title %}
{{ authentication_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ authentication_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ authentication_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ authentication_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ authentication_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ authentication_main_content_pre_form_page_block|safe }}
<h3><font color="red">{{ error_message }}</font></h3>

<table>

  <tr class="toggle" style="display: none">
    <td></td>
    <td>
       <p><b style="color: red">Crisis Cleanup is currently down for maintenance as we launch the New Crisis Cleanup. Maintenance is anticipated to last from 5:00am to 2:00pm Eastern today. When the maintenance is complete, existing users should receive an email with further instruction. <a href="http://bit.ly/1RMSnaq">Details</a>.<br />
      &mdash;Aaron Titus</b></p>
    </td>
  </tr>

</table>
</form>

<br/>
{% endblock %}