<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Crisis Cleanup</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta name="description" content="">
  <link rel="stylesheet" href="assets/css/style.css">
  <link  href="http://fonts.googleapis.com/css?family=Oswald:regular" rel="stylesheet" type="text/css" >
  <link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/fonts/raphaelicons.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/libs/modernizr-2.5.2.min.js"></script>
  {% block head_content %}
  {% endblock %}
</head>
<!--[if lt IE 7]> <body class="ie6 oldies"> <![endif]-->
<!--[if IE 7]>    <body class="ie7 oldies"> <![endif]-->
<!--[if IE 8]>    <body class="ie8 oldies"> <![endif]-->
<!--[if gt IE 8]><!--><body><!--<![endif]-->

<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header class="clearfix">
      <div class="container">
        <a id="logo" href="/">Crisis Cleanup</a>
        <ul class="social-icons">
          <!--<li><a href="http://www.facebook.com/blog.cssjuntion" class="icon flip">^</a></li>
          <li><a href="" class="icon">T</a></li>-->
          <li><a href="http://www.twitter.com/crisiscleanup" class="icon">^</a></li>
        </ul>
        <nav class="clearfix">
          <ul role="navigation">
            <li>
              <a {% block home %}{% endblock %} href="/home"><span class="icon">S</span>Home</a>
            </li>
            <li>
              <a {% block about %}{% endblock %} href="/about"><span class="icon">Û</span>About</a>
            </li>
            <li>
              <a {% block publicmap %}{% endblock %} href="/public-map"><span class="icon">M</span>Public Map</a>
            </li>
	    <li>
              <a {% block contact %}{% endblock %} href="/contact"><span class="icon">M</span>Contact Us</a>
            </li>
	    <li>
              <a {% block signup %}{% endblock %} href="/signup"><span class="icon">M</span>Sign Up</a>
            </li>
            {% if logged_in %}
            <li>
	    <a href="/"><span class="icon">M</span>Assessment Form</a>
	    </li>
            <li>
            <a href="/logout"><span class="icon">M</span>Log Out</a>
	    </li>
            {% else %}
	    <li>
              <a {% block login %}{% endblock %} href="/authentication"><span class="icon">M</span>Log In</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
  </header>
   <section role="banner">
       <hgroup>
           <h1>{% block description_title %}{% endblock %}</h1>
           <h2>{% block description_subtitle %}{% endblock %}</h2>
       </hgroup>
       {% block banner %}
       {% endblock %}

   </section> <!-- // banner ends -->
   <section class="container clearfix">
        <aside role="complementary">
            <h2>{% block sidebar_title %}{% endblock %}</h2>
                {% block sidebar_content %}
		 {% endblock %}
        </aside>
        <article class="post content">
            <h2>{% block main_title %}{% endblock %}</h2>
            {% block main_content %}
            {% endblock %}
        </article>
   </section>
  <footer role="contentinfo">
      <p>
        <span class="left">CSS Junction &copy; - 2012 | Released under Creative Common License. <a href="#">Goto Top</a></span>
        <a href="/home">HOME</a> | <a href="/about">ABOUT</a> | <a href="/public-map">PUBLIC MAP</a> |  <a href="/contact">CONTACT US</a> | <a href="/signup">SIGN UP</a> | {% if logged_in %}<a href="/">ASSESSMENT FORM</a> | <a href="/logout">LOG OUT</a> {% else %} <a href="/authentication">LOG IN</a>{% endif %}
      </p>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="assets/js/script.js"></script>
</body>
</html>