{% macro with_errors(field) %}
  {% if field.errors %}
    {% set error_class = ' error_field' %}
  {% else %}
    {% set error_class = '' %}
  {% endif %}

  <div class="form_field{{error_class}}">
    {{ field(class=css_class, **kwargs) }}
  </div>
{% endmacro %}

<!DOCTYPE html>
<html>

<head>
<title>Report a Work Zone</title>
<link href="/stylesheets/form.css" rel="stylesheet">
<link href="/stylesheets/default.css" rel="stylesheet">
{% if in_prod %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv5oq0DwffOWKYK_tZBbOFguIcL22eF3c&v=3.exp&sensor=false"></script>
{% else %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endif %}
<script src="/closure/goog/base.js"></script>
<script src="/javascript/form.js"></script>
</head>

<body onload="initialize()">
<div id="form_background">
<div id="form">
{% if delete %}
<div class=delete_form>
  <form method=POST action="{{delete_post_url}}">
  <input type=hidden name=_id value="{{id}}">
  <input type=submit value="Permanently delete this site" class=delete_button>
  (this cannot be undone)
  </form>
</div>{# end delete_form #}
{% endif %}
<form method="POST" action="{{page}}">
{% if message %}
<div class="form_message">{{message}}</div>
{% endif %}

{% if errors %}
<section id="errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</section>
{% endif %}
<div class="QuestionHeading">
The Hurricane Sandy Waiting List will alert volunteer organizations in your area that you need assistance. As the need is so great, we cannot guarantee that you will be helped, and we do not know how long you might need to wait before an organization helps. We are working as hard as we can.
</div>
<h2>Personal Information</h2>
<table>
<tr><td class=question>Requestor name:</td>
<td class="answer">{{ with_errors(form.name) }}</td></tr>
<tr><td class=question>Zip Code:</td>
<td class="answer"> {{with_errors(form.zip_code) }}</td></tr>
<tr><td class=question>Street Address:</td>
<td class="answer"> {{with_errors(form.address) }}</td></tr>
<tr><td class=question>City:</td>
<td class="answer"> {{with_errors(form.city)}}<div id=citySuggestion></div></td></tr>
<tr><td class=question>State:</td>
<td class="answer"> {{with_errors(form.state)}}<div id=stateSuggestion></div></td></tr>
<tr><td class=question>Latitude:</td>
<td class="answer"> {{with_errors(form.latitude)}}</td></tr>
<tr><td class=question>Longitude:</td>
<td class="answer"> {{with_errors(form.longitude)}}</td></tr>
<tr><td class=question>Cross Street or Nearby Landmark:</td>
<td class="answer"> {{with_errors(form.cross_street) }}</td></tr>
<tr><td class=question>Phone Numbers:</td>
<td class="answer"> {{with_errors(form.phone1) }}{{with_errors(form.phone2)}}</td></tr>
<tr><td class=question>Best time to call:</td>
<td class="answer"> {{with_errors(form.time_to_call)}}</td></tr>
<tr><td class=question>Rent/Own</td>
<td class="answer"> {{with_errors(form.rent_or_own)}}</td></tr>
<tr><td class=question>Work without resident present?</td>
<td class="answer"> {{with_errors(form.work_without_resident)}}</td></tr>
<tr><td class=question>Older than 60:</td>
<td class="answer"> {{with_errors(form.older_than_60)}}</td></tr>
<tr><td class=question>Disabled:</td>
<td class="answer"> {{with_errors(form.disabled)}}</td></tr>
<tr><td class=question>Special needs:</td>
<td class="answer"> {{with_errors(form.special_needs)}}</td></tr>
<tr><td class=question>Work requested:</td>
<td class="answer"> {{with_errors(form.work_requested)}}</td></tr>
<tr><td class=question>Notes:</td>
<td class="answer"> {{with_errors(form.notes)}}</td></tr>
<tr><td class=question>Priority:</td>
<td class="answer">
<table>
<tr><td>Low</td>
{% for f in form.priority %}
<td>{{ f }}</td>
{% endfor %}
<td>High</td></tr></table>
</td></tr>

</table>
<h2>Work</h2>
<table>
<tr><td class=question>Primary work type:</td>
<td class="answer"> {{with_errors(form.work_type)}}</td></tr>
</table>
<h3>Flood-Related Damage and Needs</h3>
<table>
<tr><td class=question>Height of Flood (feet):</td>
<td class="answer"> {{with_errors(form.flood_height)}}</td></tr>
<tr><td class=question>Floors affected:</td>
<td class="answer"> {{with_errors(form.floors_affected)}}</td></tr>
<tr><td class=question>Carpet Removal:</td>
<td class="answer"> {{with_errors(form.carpet_removal)}}</td></tr>
<tr><td class=question>Drywall Removal:</td>
<td class="answer"> {{with_errors(form.drywall_removal)}}</td></tr>
<tr><td class=question>Heavy Item Removal:</td>
<td class="answer"> {{with_errors(form.heavy_item_removal)}}</td></tr>
<tr><td class=question>Standing water:</td>
<td class="answer"> {{with_errors(form.standing_water)}}</td></tr>
<tr><td class=question>Pump Needed:</td>
<td class="answer"> {{with_errors(form.pump_needed)}}</td></tr>
</table>

<h3>Tree-Related Damage and Needs</h3>
<table>
<tr><td class=question>Number of trees down:</td>
<td class="answer"> {{with_errors(form.num_trees_down)}}</td></tr>
<tr><td class=question>Number of trees wider than 18 inches:</td>
<td class="answer"> {{with_errors(form.num_wide_trees)}}</td></tr>
</table>

<h3>Wind-Related Damage and Needs</h3>
<table>
<tr><td class=question>Roof Damage:</td>
<td class="answer"> {{with_errors(form.roof_damage)}}</td></tr>
<tr><td class=question>Number of Tarps Needed:</td>
<td class="answer"> {{with_errors(form.tarps_needed)}}</td></tr>
</table>

<h3>Goods and Services Requested</h3>
<table>
<tr><td class=question>Requesting Only Debris Removal?</td>
<td class="answer"> {{with_errors(form.debris_removal_only)}}</td></tr>
<tr><td class=question>Requests for Goods and Services:</td>
<td class="answer"> {{with_errors(form.goods_and_services)}}</td></tr>
</table>

<h2>Hazards</h2>
<table>
<tr><td class=question>Is the home habitable:</td>
<td class="answer"> {{with_errors(form.habitable)}}</td></tr>
<tr><td class=question>Power on:</td>
<td class="answer"> {{with_errors(form.electricity)}}</td></tr>
<tr><td class=question>Downed Wires:</td>
<td class="answer"> {{with_errors(form.electrical_lines)}}</td></tr>
<tr><td class=question>Other Hazards:</td>
<td class="answer"> {{with_errors(form.other_hazards)}}</td></tr>
</table>


{% if id %}
<input type="hidden" name="_id" value="{{id}}">
{% endif %}
{% if not delete %}
<input type="submit">
{% endif %}
</form>
</div>
</div>
<div id="map_canvas"></div>
</body>
</html>
