{% macro with_errors(field) %}
  {% if field.errors %}
    {% set error_class = ' error_field' %}
  {% else %}
    {% set error_class = '' %}
  {% endif %}

  <div class="form_field{{error_class}}">
    {{ field(class=css_class, **kwargs) }}
  </div>
{% endmacro %}

<!DOCTYPE html>
<html>

<head>
<title>Report a Work Zone</title>
<link href="/stylesheets/form.css" rel="stylesheet">
<link href="/stylesheets/default.css" rel="stylesheet">
{% if in_prod %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv5oq0DwffOWKYK_tZBbOFguIcL22eF3c&v=3.exp&sensor=false"></script>
{% else %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endif %}
<script src="/closure/goog/base.js"></script>
<script src="/javascript/form.js"></script>
</head>

<body onload="initialize()">
<div id="form_background">
<div id="form">
{% if delete %}
<div class=delete_form>
  <form method=POST action="{{delete_post_url}}">
  <input type=hidden name=_id value="{{id}}">
  <input type=submit value="Permanently delete this site" class=delete_button>
  (this cannot be undone)
  </form>
</div>{# end delete_form #}
{% endif %}
<form method="POST" action="{{page}}">
{% if message %}
<div class="form_message">{{message}}</div>
{% endif %}

{% if errors %}
<section id="errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</section>
{% endif %}
<table>
<tr><td class=question>Requestor name:</td>
<td class="answer">{{ with_errors(form.name) }}</td></tr>
<tr><td class=question>Zip Code:</td>
<td class="answer"> {{with_errors(form.zip_code) }}</td></tr>
<tr><td class=question>Street Address:</td>
<td class="answer"> {{with_errors(form.address) }}</td></tr>
<tr><td class=question>City:</td>
<td class="answer"> {{with_errors(form.city)}}<div id=citySuggestion></div></td></tr>
<tr><td class=question>State:</td>
<td class="answer"> {{with_errors(form.state)}}<div id=stateSuggestion></div></td></tr>

<tr><td class=question>Cross Street:</td>
<td class="answer"> {{with_errors(form.cross_street) }}</td></tr>
<tr><td class=question>Nearby Landmark:</td>
<td class="answer"> {{with_errors(form.landmark) }}</td></tr>
<tr><td class=question>Phone Numbers:</td>
<td class="answer"> {{with_errors(form.phone1) }}{{with_errors(form.phone2)}}</td></tr>
<tr><td class=question>Best time to call:</td>
<td class="answer"> {{with_errors(form.time_to_call)}}</td></tr>
<tr><td class=question>What type of property is it? Multi-unit, home, business?</td>
<td class="answer"> {{with_errors(form.property_type)}}</td></tr>
<tr><td class=question>Are you renting the property?</td>
<td class="answer"> {{with_errors(form.renting)}}</td></tr>
<tr><td class=question>Can we work without a resident present?</td>
<td class="answer"> {{with_errors(form.work_without_resident)}}</td></tr>
<tr><td class=question>Ages of residents:</td>
<td class="answer"> {{with_errors(form.ages_of_residents)}}</td></tr>
<tr><td class=question>Special needs:</td>
<td class="answer"> {{with_errors(form.special_needs)}}</td></tr>
<tr><td class=question>Has electricity:</td>
<td class="answer"> {{with_errors(form.electricity)}}</td></tr>
<tr><td class=question>Has standing water:</td>
<td class="answer"> {{with_errors(form.standing_water)}}</td></tr>
<tr><td class=question>Did a tree damage the home?</td>
<td class="answer"> {{with_errors(form.tree_damage)}}</td>
<tr><td class=question>Where?</td><td class="answer">{{with_errors(form.tree_damage_details)}}</td></tr>
<tr><td class=question>Is the home habitable:</td>
<td class="answer"> {{with_errors(form.habitable)}}</td></tr>
<tr><td class=question>What type of work is requested:</td>
<td class="answer"> {{with_errors(form.work_requested)}}</td></tr>
<tr><td class=question>Say: "Do you have any family members, friends, or neighbors who can help? If so, we would like them to assist our volunteers."</td>
<td class="answer">{{with_errors(form.others_help)}} </td></tr>
<tr><td class=question>If requesting tree removal, what is the DIAMETER (width) of the tree(s) - note feet or inches:</td>
<td class="answer"> {{with_errors(form.tree_diameter)}}</td></tr>
<tr><td class=question>Are you only requesting debris removal:</td>
<td class="answer"> {{with_errors(form.debris_removal_only)}}</td></tr>
<tr><td class=question>Primary work type:</td>
<td class="answer"> {{with_errors(form.work_type)}}</td></tr>
<tr><td class=question>Are there electrical lines in the cleanup area:</td>
<td class="answer"> {{with_errors(form.electrical_lines)}}</td></tr>
<tr><td class=question>Are there cable or phone lines in the cleanup area:</td>
<td class="answer"> {{with_errors(form.cable_lines)}}</td></tr>
<tr><td class=question>Will Cutting the tree threaten buildings or property:</td>
<td class="answer"> {{with_errors(form.cutting_cause_harm)}}</td></tr>
<tr><td class=question>Any Other Hazards in the Clean-Up Area:</td>
<td class="answer"> {{with_errors(form.other_hazards)}}</td></tr>

<tr><td class=question>Do you have insurance that covers all or some of the damage:</td>
<td class="answer"> {{with_errors(form.insurance)}}</td></tr>
<tr><td class=question>Additional notes:</td>
<td class="answer"> {{with_errors(form.notes)}}</td></tr>


<tr><td class=question>Latitude:</td>
<td class="answer"> {{with_errors(form.latitude)}}</td></tr>
<tr><td class=question>Longitude:</td>
<td class="answer"> {{with_errors(form.longitude)}}</td></tr>


</table>
{% if id %}
<input type="hidden" name="_id" value="{{id}}">
{% endif %}
{% if not delete %}
<input type="submit">
{% endif %}
</form>
</div>
</div>
<div id="map_canvas"></div>
</body>
</html>
