{% extends "base_template.html" %}


{% block body_title_block %}
CSV Imports
<style>
.alert {background-color:red}

</style>
{% endblock %}

{% block main_content %}
<h2>CSV Imports</h2>
<h3>Read the left-hand sidebar for instructions</h3>
<br>
<div id="errors">
</div>
<div id="form_div">
  <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" id="import_form">
    <div id="event_div">
      <select id="event_select" name="event" id="event_select">
      <option value="">Choose an event</option>
      {% for event in events %}
        <option value="{{event.short_name}}">{{ event.name }}</option>
      {% endfor %}
      </select>
    </div>
    <br>
    <div id="dup_div">
      <b>Test For Duplicates:</b><br>
      <input type="radio" name="duplicate" value="">Don't look for duplicates
      <input type="radio" name="duplicate" value="name_lat_lng">Name, Lat, Lng
      <input type="radio" name="duplicate" value="lat_lng">Lat, Lng
    </div>
    <br>
    <div id="dup_method_div">
      <b>Duplicate Method:</b><br>
      <input type="radio" name="duplicate_method_select" value="">None
      <input type="radio" name="duplicate_method_select" value="all">Replace entire site from CSV
      <input type="radio" name="duplicate_method_select" value="references">Replace reported_by and claimed_by only
    </div>
    <br>
    <div id="file_div">
      <label for="file" class="label">Upload File:</label>
      <input type="file" class="submit" name="file" id="file_upload"><br/><br/>
      <input type="submit" class="submit_decorator" name="submit" value="Import">
    </div>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(function() {
  $( "#import_form" ).submit(function(e) {
    var state = "ok";
    var duplicate = $('input[name=duplicate]:checked', '#import_form').val()
    var duplicate_method_select = $('input[name=duplicate_method_select]:checked', '#import_form').val()
    var event = $('#event_select').val();
    var file_upload = $('#file_upload').val();
    if (file_upload == "") {
       $("#errors").append("Choose a CSV to upload<br>");
       state = "error";
    }
    if (event == "") {
      $("#errors").append("Choose an event<br>");
      state = "error";
    }
    if (typeof duplicate == "undefined") {
       $("#errors").append("Please click on a type of duplication test<br>");
       state = "error";
    }
    if (duplicate == "name_lat_lng" || duplicate == "lat_lng") {
      if (duplicate_method_select == "all" || duplicate_method_select == "references") {
        console.log("pass");
      } else {
         $("#errors").append("If you choose a duplication detection test, you must choose a method to apply to duplicates<br>");
         state = "error";
      }
    }

    if (duplicate_method_select == "all" || duplicate_method_select == "references") {
       if (duplicate == "name_lat_lng" || duplicate == "lat_lng") {
        console.log("pass");
       } else {
           $("#errors").append("You chose a method to apply to duplicates, but you didn't select how to look for duplicates<br>");
           state = "error";
       }
    }

    if(state == 'ok'){
        $("#import_form")[0].submit();// this line will not trigger the same submit event
//         $("#form_div").text("<h3>The CSV has been submitted</h3><b>Please do not close the tab or hit refresh.</b><br><p>The upload could take several minutes. When it's done, you will be presented with a new screen detailing any stats or errors associated with the upload.");
    } else {
      e.preventDefault();

    }
  });
});
</script>
{% endblock %}

{% block sidebar_title %}
How to use the importer
{% endblock %}


{% block sidebar_content %}
Prerequisites
  <ul>
    <li>Well-formed comma-delimited CSV</li>
    <li>First row of CSV must match field names</li>
    <li>Manually include ALL lat/lon and blurred lat/lon</li>
    <li>Manually include the reported_by and claimed_by organization IDs</li>
  </ul>
Operation
  <ul>
    <li>Choose an Event</li>
    <li>Choose duplicate test</li>
  </ul>

{% endblock %}
