<div id='logout_div'>
<div>
<b>{{event.name}}</b> ({{event.num_sites}} work orders)<br />
Organization: <b>{{ org.name }}</b>&nbsp;&nbsp; (<a class="logout_link" href="/logout">Log out</a>)<br />
<a href="/">Home</a> | <a href="/map">Map</a> | <a href="/sites">Browse Cases</a> | <a href="http://code.google.com/p/sandy-disaster-recovery/w/list">Help</a>
<br/>
<a href="/organization-settings">My Organization</a> | <a href="/organization-info">All Organizations</a>
<br/>
 <a href=see-all-contacts>See All Contacts</a>{% if admin %} | <a href="/admin">Admin Panel</a>{% endif %}
{% if include_search %}
<br />Search: <input id="search_box" style="width:300px" />
{% endif %}
</div></div>
