<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Sandy Disaster Response -- Request Map</title>
    <link href="/stylesheets/default.css" rel="stylesheet">
    <link href="/closure/css/dialog.css" rel="stylesheet">
{% if uncompiled %}
    <script src="/closure/goog/base.js"></script>
    <script src="/javascript/deps.js"></script>
    <script type="text/javascript">
    goog.require("sandy.{% if demo %}demo{% else %}main{% endif %}");
    </script>
{% else %}
    <script src="/javascript/compiled_{% if demo %}demo{% else %}main{% endif %}.js"></script>
{% endif %}
<script src="/javascript/markerclusterer_packed.js"></script>
{% if in_prod %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv5oq0DwffOWKYK_tZBbOFguIcL22eF3c&v=3.exp&sensor=false"></script>
{% else %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endif %}
<script type="text/javascript">
var my_organization ="{% if org %}{{org.name}}{% endif %}";
var STATUS_CHOICES = [
{% for status in status_choices %}{{status}},
{% endfor %}
];
var counties = [
{% for county in counties %}
  "{{county}}",{% endfor %}
];
</script>
  </head>
  <body onload="sandy.{% if demo %}demo{% else %}main{% endif %}.initialize()"><div id="container" style="width:100%;height:100%">

{{ logout }}
<div id="map_canvas"></div>
<div id="filtersbackground">
<div id="filters">
    Only show the following types:<br />
{% for f in filters %}
<input type="checkbox" onclick="sandy.map.Refilter()" name="filter" id="{{f[0]}}">
<label for="{{f[0]}}">{{f[1]}}</label><br />
{% endfor %}
<br />
<a href="/print?" id="filtered_print" target="_blank">Get Printable Version</a><br />
<a href="/export?" id="filtered_export">Download as Spreadsheet (CSV)</a><br />
</div></div>
<div id="info">
</div>
<div id="legend_div">
<img id="legend_img" src="/icons/Legend.png" />
</div>
</div>
 </body>
</html>
