{% extends "base_template.html" %}

{% block signup %}
class="activePage"
{% endblock %}

{% block description_title %}
{{ sign_up_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ sign_up_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ sign_up_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ sign_up_sidebar_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ sign_up_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
      <link rel="stylesheet" href="stylesheets/messi.css">
		<script>

		function isValidEmailAddress(emailAddress) {
		  var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
		  // alert( pattern.test(emailAddress) );
		  return pattern.test(emailAddress);
		};

		  
		  function checkEach() {
		  var txt=document.getElementById("javascript_form_errors");
		  txt.innerHTML="";
		  
		  properties_dictionary = { 
		    choose_event: "You must select an incident from the drop down list",
		    first_name: "You must fill out the first name field in Primary Contact",
		    last_name: "You must fill out the last name field in Primary Contact",
		    personal_email: "You must fill out the personal email field in Primary Contact",
		    personal_phone: "You must fill out the personal phone field in Primary Contact",
		    name: "You must fill out the Organization name",
		    email: "You must fill out the Organization email",
		    phone: "You must fill out the Organization phone number",
		    address: "You must fill out the Organization address",
		    city: "You must fill out the Organization city",
		    state: "You must fill out the Organization state",
		    zip_code: "You must fill out the Organization zip code",
		    url: "You must fill out the Organization url",



		  }
		  properties_array = ["first_name", "last_name", "personal_email", "personal_phone", "name"];
		    errors_array = [];
		    email_errors_array = [];
		    
		    var choose_event = $('#choose_event').val();
		    if (choose_event == "choose") {
		      errors_array.push("choose_event");
		    }
		    for (var i=0; i < properties_array.length; i ++) {
		      var property = $('#' + properties_array[i]).val();
		      if (property.length < 1) {
		        errors_array.push(properties_array[i]);
		      }
		      
		      if (properties_array[i] == "email" || properties_array[i] == "personal_email") {
			if (isValidEmailAddress(property) == false) {
			  email_errors_array.push(properties_array[i]);
			}
		      }
		    }
		    for (var k=0; k < errors_array.length; k++) {
		       var txt=document.getElementById("javascript_form_errors");
		       var innermyspan = document.getElementById("javascript_form_errors").innerHTML;

			txt.innerHTML=innermyspan + '<p class="error">' + properties_dictionary[errors_array[k]] + '</p>';
		    }
		    
		    console.log(email_errors_array);
		     for (var j=0; j < email_errors_array.length; j++) {
		       var txt=document.getElementById("javascript_form_errors");
		       var innermyspan = document.getElementById("javascript_form_errors").innerHTML;

			txt.innerHTML=innermyspan + '<p class="error">' + email_errors_array[j] + ' is not a proper email address</p>';
		    }
		    if (errors_array.length==0) {
		    console.log("sending form");
		    document.forms[0].submit();
		    console.log("form sent");
		    }
		  }
		</script>
{# show errors #}
<div style="background-color:yellow;" id="javascript_form_errors">
</div>
</div>
{% if errors %}
<section id="errors">
<div id="div_errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</div>
</section>

{% endif %}
<div id="form_background">
<div id="form">

{{ sign_up_form_premable_page_block|safe }}



<form method="POST" action="/signup">
<p><a href="/contact">Contact Us</a> to request a new Incident.</p>
<div name="select_div" id="select_div">

{% if events_list %}
  <h1>Choose a Disaster:</h1>
  <select name="choose_event" id="choose_event">
    <option value="choose">--Choose One--</option>
    {% for result in events_list %}
      <option value="{{result.key().id()}}">{{result.name}}</option>
    {% endfor %}
  </select>
{% endif %}

<a name="primary-contact"></a>
<h2 title="Required. At least one Primary Contact is required for each organization.  Personal information will not be shared publicly, but will be shared with other organizations to assist with coordination in the your disaster(s).">Primary Contact<a href="#fn1"><sup>1</sup></a></h2>
<table>
	<tr>
		<td class="question" title="What shall we call you?"><label for="first_name">Your First Name</label>*:</td>
		<td class="answer"><input name="first_name" id="first_name" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question"><label for="last_name">Your Last Name</label>*:</td>
		<td class="answer"><input name="last_name" id="last_name" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="This should be an email that someone actually uses during the Incident, so so colleagues from other organizations can contact you."><label for="personal_email">Your email</label>*:</td>
		<td class="answer"><input name="personal_email" id="personal_email" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="This should be a cell phone number actually used during the Incident, so colleagues from other organizations can contact you."><label for="personal_phone">Your phone</label>*:</td>
		<td class="answer"><input name="personal_phone" id="personal_phone" type="text" value="" size="35" /></td>
	</tr>
</table>
<h2 title="Organization name and contact info is required. Please be as specific as possible. For example, rather than &quot;Americorps,&quot; choose &quot;Americorps Hudson County.&quot;">Organization Information<a href="#0.1_fn2"><sup>2</sup></a></h2>
<a name="0.1_organization"></a>
<table>
	<tr>
		<td class="question" title="This will be your organization&rsquo;s username."><label for="name">Organization Name</label>*:</td>
		<td class="answer"><input name="name" id="name" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Lets others contact an official organization email."><label for="email">Organization Email</label>:</td>
		<td class="answer"><input name="email" id="email" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Official organization phone number."><label for="phone">Organization Phone Number</label>:</td>
		<td class="answer"><input name="phone" id="phone" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Official organization address, OR field address for the Incident."><label for="address">Address</label>:</td>
		<td class="answer"><input name="address" id="address" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question"><label for="city">City</label>:</td>
		<td class="answer"><input name="city" id="city" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question"><label for="state">State</label>:</td>
		<td class="answer"><input name="state" id="state" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question"><label for="zip_code">Zip Code</label>:</td>
		<td class="answer"><input name="zip_code" id="zip_code" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to link to you."><label for="url">Organization URL</label>:</td>
		<td class="answer"><input name="url" id="url" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to follow you and promote your Twitter feed."><label for="twitter">Organization Twitter</label>:</td>
		<td class="answer"><input name="twitter" id="twitter" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to follow you and promote your Facebook link."><label for="facebook">Facebook link</label>:</td>
		<td class="answer"><input name="facebook" id="facebook" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Organization profile information is optional. If you choose yes, your organization&#39;s contact information (but not personal information) may be published on crisiscleanup.org as a way for volunteers and others to contact your organization."><label for="publish">Publish Organization Profile</label><a href="#0.1_fn3"><sup>3</sup></a>:</td>
		<td class="answer"><input name="publish" id="publish" type="checkbox" value="1" checked="checked" /></td>
	</tr>
</table>
    
<h2>Qualifications</h2>
  
  <table>
 
  <tr>
    <td class="question"><label for="physical_presence">Does your organization have a physical presence in the affected area?</label></td>
    <td class="answer">
		<ul id="physical_presence">
			<li><input id="physical_presence-0" name="physical_presence" type="radio" value="1" /> <label for="physical_presence-0">Yes</label></li>
			<li><input id="physical_presence-1" name="physical_presence" type="radio" value="0" /> <label for="physical_presence-1">No</label></li>
		</ul>
	</td>
  </tr>
  <tr>
	<td><label for="work_area">&nbsp;&nbsp;&nbsp;If yes, areas you plan to work:</label></td>
	<td><input name="work_area" type="text" value="" size="75" /></td>
  </tr>

  <tr>
    <td class="question"><label for="voad_member">Is your organization a non-profit member of National VOAD, a State VOAD or County VOAD/COAD?</label></td>
    <td class="answer">
		<ul id="voad_member">
			<li><input id="voad_member-0" name="voad_member" type="radio" value="1" /> <label for="voad_member-0">Yes</label></li>
			<li><input id="voad_member-1" name="voad_member" type="radio" value="0" /> <label for="voad_member-1">No</label></li>
		</ul>
	</td>
  </tr>

  <tr>
	<td class="question"><label for="voad_referral-yes">&nbsp;&nbsp;&nbsp;If yes, how can we best confirm?</label></td>
	<td class="answer"><input id="voad_referral-yes" name="voad_referral" type="text" value="" size="75" /></td>
  </tr>

  <tr>
	<td class="question"><label for="voad_referral-no">&nbsp;&nbsp;&nbsp;If no, can you refer us to someone who can vouch for your work?</label></td>
	<td class="answer"> <input id="voad_referral-no" name="voad_referral" type="text" value="" size="75" /></td>
  </tr>

  <tr>
    <td class="question"><label for="appropriate_work">Does your organization do one or more of the following: Canvassing, Assessment, Debris Removal, Muck-outs/ Mud-outs, Tree Removal, Mold Abatement or Control, Rebuilding, or Refurbishing?</label></td>
    <td class="answer">
		<ul id="appropriate_work">
			<li><input id="appropriate_work-0" name="appropriate_work" type="radio" value="1"> <label for="appropriate_work-0">Yes</label></li>
			<li><input id="appropriate_work-1" name="appropriate_work" type="radio" value="0"> <label for="appropriate_work-1">No</label></li>
		</ul>
	</td>
  </tr>
</table>

<table>
<!--
	<tr>
		<td>
		<label for="TermsOfService">
		<input type="checkbox" value="yes" name="TermsOfService" id="TermsOfService" />
		<strong>I agree to the <a target="_blank" id="TOSLink" href="/terms">Terms of Service</a> and <a target="_blank" id="PrivacyLink" href="/privacy">Privacy Policy</a></strong>
		</label>
		</td>
	</tr>
-->
	<tr>
		<td>
		<a href="#" onclick="checkEach()" class="button button-icon icon icon-envelope">Signup</a>
		</td>
	</tr>
</table>
</div>
</form>

<hr>

<h3>Explanations</h3>
<a name="0.1_fn1"></a>
<p><a href="#0.1_primary-contact"><sup>1</sup></a> <strong>Required</strong>. At least one Primary Contact is required for each organization.  Personal information will not be shared publicly, but will be shared with other organizations to assist with coordination in the your disaster(s).</p>
<a name="0.1_fn2"></a>
<p><a href="#0.1_organization"><sup>2</sup></a> <strong>Organization name and contact info is required</strong>. Please be as specific as possible. For example, rather than &quot;Americorps,&quot; choose &quot;Americorps Hudson County.&quot;</p>
<a name="0.1_fn3"></a>
<p><a href="#0.1_organization"><sup>3</sup></a> <strong>Organization profile information is optional</strong>. If you choose yes, your organization&#39;s contact information (but not personal information) may be published on <a href="http://www.crisiscleanup.org" target="_blank">crisiscleanup.org</a> as a way for volunteers and others to contact your organization.</p>

</div>

{% endblock %}
