{% extends "base_template.html" %}

{% block title %}
Signup &ndash; {{ super() }}
{% endblock %}

{% block signup %}
class="activePage"
{% endblock %}

{% block description_title %}
{{ sign_up_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ sign_up_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ sign_up_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ sign_up_sidebar_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ sign_up_main_title_page_block|safe }}
{% endblock %}

{% block head_content %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/messi.css">
<style type="text/css">
tr.address-row {
  /* initially hide */
  display: none;
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

		function isValidEmailAddress(emailAddress) {
		  var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
		  // alert( pattern.test(emailAddress) );
		  return pattern.test(emailAddress);
		};

		  
		  function checkEach() {
		  var txt=document.getElementById("javascript_form_errors");
		  txt.innerHTML="";
		  
		  properties_dictionary = { 
		    choose_event: "You must select an incident from the drop down list",
		    first_name_0: "You must fill out the first name field in Primary Contact",
		    last_name_0: "You must fill out the last name field in Primary Contact",
		    title_0: "You must fill out the title field in Primary Contact",
		    personal_email_0: "You must fill out the personal email field in Primary Contact",
		    personal_phone_0: "You must fill out the personal phone field in Primary Contact",
		    name: "You must fill out the Organization name",
        terms_privacy: "You must agree to our terms & conditions and privacy policy.",
		  }

		  properties_array = [
        "first_name_0", "last_name_0", "personal_email_0", "personal_phone_0", "name", "terms_privacy"
      ];

		    errors_array = [];
		    email_errors_array = [];
		    
		    var choose_event = $('#choose_event').val();
		    if (choose_event == "choose") {
		      errors_array.push("choose_event");
		    }
		    for (var i=0; i < properties_array.length; i ++) {
		      var $input = $('#' + properties_array[i]);
		      var property = $input.val();
		      if (property.length < 1) {
		        errors_array.push(properties_array[i]);
		      }

          // check checkboxes checked
          if ($input.prop('type') == 'checkbox' && !$input.prop('checked')) {
            errors_array.push(properties_array[i]);
          }
		      
		      if (properties_array[i] == "email" || properties_array[i] == "personal_email") {
			if (isValidEmailAddress(property) == false) {
			  email_errors_array.push(properties_array[i]);
			}
		      }
		    }
		    for (var k=0; k < errors_array.length; k++) {
		       var txt=document.getElementById("javascript_form_errors");
		       var innermyspan = document.getElementById("javascript_form_errors").innerHTML;

			txt.innerHTML=innermyspan + '<p class="error">' + properties_dictionary[errors_array[k]] + '</p>';
		    }
		    
		     for (var j=0; j < email_errors_array.length; j++) {
		       var txt=document.getElementById("javascript_form_errors");
		       var innermyspan = document.getElementById("javascript_form_errors").innerHTML;

			txt.innerHTML=innermyspan + '<p class="error">' + email_errors_array[j] + ' is not a proper email address</p>';
		    }
		    if (errors_array.length==0) {
		    document.getElementById("signup_form").submit();

		    }
		  }

$(function() {
// bind contact link click
$('a#add-contact-link').click(function(evt) {
  // show the next contact table
  evt.preventDefault();
  $('table.contact-table:hidden').first().show();
});

// bind add address link
$('a#add-address-link').click(function(evt) {
  // show the address rows
  evt.preventDefault();
  $('tr.address-show-link-row').hide();
  $('tr.address-row').show();
});

// bind physical presence checkbox
$('input#physical_presence').change(function(evt) {
  // highlight work area row if checked
  var checked = $(evt.target).prop('checked');
  $('tr#work_area_row').css('background-color', checked ? 'yellow' : '');
});

// bind reputable checkbox
$('input#reputable').change(function(evt) {
  // highlight referral row if checked
  var checked = $(evt.target).prop('checked');
  $('tr#voad_referral_row').css('background-color', checked ? 'yellow' : '');
});

});
</script>
{% endblock %}

{% block main_content %}

{# show errors #}
<div style="background-color:yellow;" id="javascript_form_errors">
</div>
</div>
{% if errors %}
<section id="errors">
<div id="div_errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</div>
</section>

{% endif %}
<div id="form_background">
<div id="form">

{{ sign_up_form_premable_page_block|safe }}



<p><a href="/contact">Contact Us</a> to request a new Incident.</p>
<div name="select_div" id="select_div">
      <p><b style="color: red">Crisis Cleanup is currently down for maintenance as we launch the New Crisis Cleanup. When it emerges from its cocoon, it will have turned into a magnificent butterfly with all kinds of cool new features.<br />
       If you are a current user, you'll receive an email confirmation.<br />
       Crisis Cleanup will be down March 17, 2016 from about 6am-3pm Eastern Time. If you are seeing this message after that time, please contact help@[thiswebsite.org], and we'll give you a hand.</b></p>
    </td>

</div>

<hr>

</div>

{% endblock %}
