{% extends "nav_base.html" %}
{% block bodycontent%}
<h1>Put Form Here, Then Populate It</h1>
<h2>Organization Information</h2>
<form method="POST" action="/organization-edit-info">
{% if errors %}
<section id="errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</section>
{% endif %}
  <div>{{ form.name.label }}: {{ form.name }}</div>
  <div>{{ form.password.label }}: {{ form.password }}</div>
  <div>{{ form.email.label }}: {{ form.email }}</div>
  <div>{{ form.phone.label }}: {{ form.phone }}</div>
  <div>{{ form.address.label }}: {{ form.address }}</div>
  <div>{{ form.city.label }}: {{ form.city }}</div>
  <div>{{ form.state.label }}: {{ form.state }}</div>
  <div>{{ form.zip_code.label }}: {{ form.zip_code }}</div>
  <div>{{ form.twitter.label }}: {{ form.twitter }}</div>
  <div>{{ form.facebook.label }}: {{ form.facebook }}</div>
  <div>{{ form.url.label }}: {{ form.url }}</div>

    
  {% if form.physical_presence %}
  <tr>
    <td class="question">{{ form.physical_presence.label }}</td>
    <td class="answer">{{ form.physical_presence }}</td>
  </tr>
  <br/>
  {% endif %}
  <div>{{ form.work_area.label }}: {{ form.work_area }}</div>
  <div>{{ form.number_volunteers.label }}: {{ form.number_volunteers }}</div>
  {% if form.voad_member %}
  <tr>
    <td>{{ form.voad_member.label }}</td>
    <td>{{ form.voad_member }}</td>
  </tr>
  <br/>
  {% endif %}
  <div>{{ form.voad_member_url.label }}: {{ form.voad_member_url }}</div>
  <div>{{ form.voad_referral.label }}: {{ form.voad_referral }}</div>

<h3>Operations</h3>
<p>Please take the time to carefully and correctly indicate the work your organization will <strong>normally perform</strong> during this Incident.</p><p>You will save yourself, staff, volunteers, and other volunteers <em>hundreds</em> of hours if you fill this form out <em>accurately</em>.</p><p>It will significantly un-clutter the map, and ensure that work orders are not lost or forgotten.</p>

  <tr>
    <td>{{ form.canvass.label }}</td>
    <td>{{ form.canvass }}</td>
  </tr>
  <br/>

  <tr>
    <td>{{ form.assessment.label }}</td>
    <td>{{ form.assessment }}</td>
  </tr>
  <br/>
 
  <tr>
    <td>{{ form.clean_up.label }}</td>
    <td>{{ form.clean_up }}</td>
  </tr>
  <br/>
  
  <tr>
    <td>{{ form.mold_abatement.label }}</td>
    <td>{{ form.mold_abatement }}</td>
  </tr>
  <br/>
  
  <tr>
    <td>{{ form.rebuilding.label }}</td>
    <td>{{ form.rebuilding }}</td>
  </tr>
  
    <tr>
    <td>{{ form.refurbishing.label }}</td>
    <td>{{ form.refurbishing }}</td>
  </tr>

   <input type=hidden name=edit_org value={{org_id}}>

  <input type=submit value="Submit Edit">
</form>
{% endblock %}