{# PageBlock defaults #}
{# ================== #}

{# CMS-style PageBlocks are populated with these values as defaults. #}

{% block home_banner_page_block %}
<h2>Who's in charge? You are.</h2>
<p>When you allow disaster recovery organizations to share information, self-organize, and coordinate, great things happen.</p>
{% endblock %}

{% block home_description_title_page_block %}
Crisis Cleanup is an Open Source Disaster Relief Mapping Tool
{% endblock %}

{% block home_description_subtitle_page_block %}
Inter-Organization Disaster Recovery Collaboration and Communication Platform<br /> &bull; 6,000 families &bull; 5 states &bull; 4 disasters &bull; 100+ organizations &bull; 30,000+ volunteers &bull; Absolutely free &bull;
{% endblock %}

{% block home_sidebar_title_page_block %}
Welcome to CrisisCleanup.org
{% endblock %}

{% block home_sidebar_content_page_block %}
<p>Crisis Cleanup is a disaster mapping tool to help volunteer relief organizations to coordinate the efforts of tens of thousands of volunteers from hundreds of organizations. It is free and open source.</p>
<p>We invite your organization to <a href="/signup">join</a>.</p>
<p>Please <a href="/contact">contact us</a> with any questions about the site. Thanks!</p>
{% endblock %}

{% block home_main_title_page_block %}
How do you organize 30,000 volunteers from 100 organizations to 5,000 locations across a 500-mile arc in 8 weeks? <em>You don't. You let them organize themselves.</em>
{% endblock %}

{% block home_main_content_page_block %}
<p>Your Organization may <a href="/signup">Join Crisis Cleanup</a>.</p>
<p>Crisis Cleanup implements a "Craigslist" philosophy to recovery efforts&ndash; organizations that are aware of work orders enter them into the system, and organizations with capacity to help can claim and perform the work. No centralized organization is in charge. This minimizes duplication and maximizes communication, coordination, and efficiency.</p>
<p>Each participating organization can see what other organizations are doing. No single organization is "in charge" or has exclusive access to data.  While entering a client into Crisis Cleanup does not guarantee that he or she will be served, using the same system will permit inter-agency coordination, situational awareness, and help participating organizations prioritize their limited resources. Sharing work order information among dozens of organizations maximizes the chances that a person will receive help.</p>
<p>The Crisis Cleanup Project has been used to coordinate the relief efforts of more than 100 organizations with more than 30,000 volunteers organize relief efforts in four disasters in five states.  Crisis Cleanup will be formally adopted by the National VOAD in May, 2013.</p>
<p>Disaster relief organizations may <a href="/signup">join</a> as long as they: 1. Have a physical presence in a disaster area, 2. Perform assessments and/or gutting, mucking-out, debris removal, mold abatement, or rebuilding and 3. Are reputable (e.g. are a VOAD member or come recommended by a VOAD). Crisis Cleanup is always free of charge.</p>
<hr />
<p>Crisis Cleanup was first created by <a href="http://www.twitter.com/aarontitus">Aaron Titus</a> to assist hundreds of Mormon Helping Hands volunteers respond to the southern New Jersey "derecho" storms of July, 2012:</p>
<iframe width="640" height="360" src="http://www.youtube.com/embed/Vgl5TKOEaOc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<p><a href="https://plus.google.com/100981388284358828816/posts">Jeremy Pack</a> and <a href="/about#people">several other developers</a> created a more robust version for <a href="http://blog.crisiscleanup.org/p/background.html#orgs">more than 100 organizations</a> to coordinate Hurricane Sandy relief.  Developer <a href="https://twitter.com/AndyGimma">Andy Gimma</a> now co-leads the Crisis Cleanup project, along with developer <a href="https://twitter.com/cpwood">Chris Wood</a>.</p>
{% endblock %}

{% block about_description_title_page_block %}
The People and Philosophies of Crisis Cleanup
{% endblock %}

{% block about_description_subtitle_page_block %}
We are building a new kind of system. Who's in charge? You are.
{% endblock %}

{% block about_sidebar_title_page_block %}
Real Innovation
{% endblock %}

{% block about_sidebar_page_block %}
<p>The real innovation of this system is the ability to coordinate tens of thousands of volunteers from dozens of organizations to thousands of sites after a disaster. <strong>The Collaborative Work Order System proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.</strong></p>
{% endblock %}

{% block about_main_title_page_block %}
Disaster Recovery Collaborative Work Order System
{% endblock %}

{% block about_main_page_block %}
<p>As with most worthwhile projects, CrisisCleanup has multiple converging story lines.  After helping organize tens of thousands of <em>Mormon Helping Hands</em> volunteers to clean up after Tropical Storm Irene in August&ndash;October 2011, <a href="https://twitter.com/aarontitus">Aaron Titus</a> began designing technology to improve volunteer efficiency. In August 2012 he deployed the alpha version of Crisis Cleanup to coordinate 700 volunteers from 5 organizations to assist 300 elderly residents in the aftermath of the "Derecho" thunderstorms in Southern New Jersey.</p>

<p>Aaron activated the system again after Hurricane Sandy hit New Jersey, New York and Connecticut in October, 2012, and invited dozens of other organizations to participate.  With the added load, the system had to be rebuilt quickly.  Mormon Helping Hands volunteer <a href="https://plus.google.com/100981388284358828816/posts">Jeremy Pack</a> and several other talented developers rebuilt a more robust and user-friendly version the system on Google App Engine as an <a href="http://code.google.com/p/sandy-disaster-recovery/">open source project</a>.  The system soon became a major hub of coordination activity for more than 100 Hurricane Sandy relief organizations.</p>

<p>In the meantime, the efforts of <em>Occupy Sandy</em> were in full-swing.  They were experiencing the same issues as many other relief organizations: Poor communication, inconsistent canvassing, organizational overlap, and duplicated efforts. This lead to survey fatigue, asymmetric aide, and volunteers who were frustrated because it wasn't clear what needed to be done. Volunteers wanted to do better for themselves and neighbors. With his extensive community organizing, programming, and disaster recovery experience, <a href="https://twitter.com/AndyGimma">Andy Gimma</a> joins and now co-leads the Crisis Cleanup project.</p>

<p>In early 2013, Mississippi VOAD requested to use the system to coordinate recovery efforts after the Hattiesburg, MS tornado.  The following week, Georgia VOAD requested to use the system to assist with tornado recovery in Gordon and Bartow counties.  <a href="http://www.nvoad.org">National VOAD</a> will formally adopt Crisis Cleanup at its annual convention in May, 2013.  We look forward to working with National VOAD.</p>

<p>The system is based upon a few foundational philosophies:</p>
<ul>
    <li>The system should enable, not interfere with your existing business processes.</li>
    <li>The system should enable, not interfere with inter-organization coalitions.</li>
    <li>No single organization should be in charge of others without their consent.</li>
    <li>The system should make collaboration and communication not only convenient, but required.</li>
    <li>This is not the “One App to Rule them All.” The system should not be try to do things it was not intended to do.</li>
    <li>The system is open (but not public), and should therefore not contain sensitive personal information.</li>
</ul>
<p>Crisis Cleanup's real innovation is the ability to coordinate tens of thousands of volunteers from hundreds of organizations to thousands of sites after a disaster. <strong>Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.</strong></p>

<p>Still want more background information? Okay... here's <a href="http://blog.crisiscleanup.org/p/background.html">more background information than you probably want to know</a>.</p>
<hr/>
<a name="people"></a>
<h2>The People of Crisis Cleanup</h2>
<a name="aarontitus"></a>
<h3>Aaron Titus, Project Manager</h3>
<table>
<tr>
  <td><p><a href="http://www.twitter.com/aarontitus">Aaron Titus</a> is a husband and father of 5 (1/2) children, and serves as the New Jersey representative to Volunteer Organizations Active in Disasters (VOAD) for The Church of Jesus Christ of Latter-day Saints (Mormon Helping Hands).  In that capacity he helped organize the Mormon Helping Hands responses for Hurricane Irene, the New Jersey "Derecho" thunderstorms and Hurricane Sandy.</p>
<p>His full-time job is Chief Privacy Officer and Attorney at <a href="http://www.identityfinder.com/us/Company/ManagementTeam">Identity Finder</a>. Aaron is also the Privacy Director at the Liberty Coalition, and sits on the Management Council for the Identity Ecosystem Steering Group.  </p></td>
  <td><img src="http://www.aarontitus.net/crisiscleanup/aarontitus.jpg" border=0 width="200" alt="Aaron Titus, Crisis Cleanup"/></td>
</tr>
</table>

<a name="andygimma"></a>
<h3>Andy Gimma, Developer and Project Manager</h3>
<table>
<tr>
  <td><p>Short Bio</p></td>
  <td></td>
</tr>
</table>

<a name="jeremypack"></a>
<h3>Jeremy Pack, Developer</h3>
<table>
<tr>
  <td><p>Jeremy Pack is a mathematician and software engineer on the Google Street View project. He lives with his wife and four children in Mountain View, California.</p></td>
  <td><img src="http://www.aarontitus.net/crisiscleanup/jeremypack.jpg" width="200" border="0" alt="Jeremy Pack" /></td>
</tr>
</table>

<a name="chriswood"></a>
<h3>Chris Wood, Developer</h3>
<table>
<tr>
  <td><p><a href="https://twitter.com/cpwood">Chris Wood</a> is a freelance software developer and startup-ponderer based in London.</p></td>
  <td><img src="http://www.aarontitus.net/crisiscleanup/chriswood.jpg" width="200" border="0" alt="Chris Wood" /></td>
</tr>
</table>

<a name="brucechristensen"></a>
<h3>Bruce Christensen, Developer</h3>
<table>
<tr>
  <td><p>Short Bio</p></td>
  <td></td>
</tr>
</table>

<h3>Others</h3>
<p>Thanks to <a href="http://www.linkedin.com/pub/karissa-phelps/44/563/73a">Karissa Phelps</a> who designed our icons, <a href="http://www.shekhardesigner.com/">Shekhar Sharma</a> for use of this CSS template, and <a href="http://code.google.com/p/sandy-disaster-recovery/people/list">many other developers</a> who have contributed to this project.</p>
{% endblock %}

{% block contact_description_title_page_block %}
We're interested in hearing from you
{% endblock %}

{% block contact_description_subtitle_page_block %}
Please write is with ideas, solutions, of if you want to help.
{% endblock %}

{% block contact_sidebar_title_page_block %}
How can you help?
{% endblock %}

{% block contact_sidebar_page_block %}
<p>We can always use help at CrisisCleanup.org. Here is a short list of some of the things we are looking for.</p>
<ul>
<li>Get the word out, let people know about CrisisCleanup.org</li>
<li><a href="/signup">Sign up!</a>If you're are a part of an organization that might want to be a part of CrisisCleanup.org, signup, or send us an email</li>
<li>We can always use more developers. CrisisCleanup.org is run on Google App Engine, running python.</li>
<li>Documentation: Document how to use the project, or document the code itself. Either would be a big help!</li>
<ul>
{% endblock %}

{% block contact_main_title_page_block %}
Email us any time
{% endblock %}

{% block contact_main_page_block %}
<p>For any questions regarding the app, send emails to Aaron Titus at his first name @crisiscleanup.org</p>
<p>Thank you for your time and interest</p>
{% endblock %}

