{% if message %}
{{ message }}
{% endif %}
{% if not readonly %}
{% macro with_errors(field) %}
  {% if field.errors %}
    {% set error_class = ' error_field' %}
  {% else %}
    {% set error_class = '' %}
  {% endif %}

  <div class="form_field{{error_class}}">
    {{ field(class=css_class, **kwargs) }}
  </div>
{% endmacro %}
{% else %}

{% macro with_errors(field) %}
    {{ field }}
{% endmacro %}
{% endif %}

{% if phases_links %}
<p>{{phases_links}}</p>
{% endif %}

{% if label %}
<h2>{{ label }}</h2>
{% endif %}

{% if paragraph %}
<p>{{ paragraph }}</p>
{% endif %}

{% if incident_form_block %}
 <table id="form_table">
 <table>
 {{ incident_form_block }}
</table>
{% endif %}

{% if new_form %}
{% for obj in new_form %}
<div>{{ obj.label}}: {{ obj }}</div>
{% endfor %}
{{submit_button}}
{% endif %}
{{submit_button}}

