{% extends "base_template_without_log_in_checks.html" %}

{% block head_content %}        

{% endblock %}

{% block login %}
class="activePage"
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
Order
{% endblock %}

{% block sidebar_content %}
<p><a href='/sites?order=request_date'>Order by date created</a></p> <p><a href='/sites?order=name'>Order by name</a></p>

{% endblock %}

{% block main_title %}
Browse Sites
{% endblock %}

{% block main_content %}

{%- macro previous_and_next() -%}
  <p>
    {% if page_number %}
      [<a href='/sites?page={{ page_number - 1}}'>Previous Page</a>]
    {% endif %}

    [<a href='/sites?page={{ page_number + 1 }}'>Next Page</a>]
  </p>
{%- endmacro -%}

{{ previous_and_next() }}

<ul>
  {% for result in sites_query %}
    <li>
      {{ result.case_number }}: {{ result.name }} &ndash; {{ result.address }}
      [<a href="/edit?id={{ result.key().id() }}">Edit</a>]
      [<a href="/delete?id={{ result.key().id() }}">Delete</a>]
    </li>
  {% endfor %}
</ul>

{{ previous_and_next() }}

{% endblock %}
