
{% extends "base_template.html" %}


{% block description_title %}
{{ welcome_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ welcome_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ welcome_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ welcome_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ welcome_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ welcome_main_content_page_block|safe }}
{% endblock %}
