{% extends "base_template_without_log_in_checks.html" %}

{% block head_content %}

{% endblock %}

{% block sites %}
class="active"
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
    <form id="site-filter" method="GET" role="form">
        {{ form.page }}
        <div class="form-group">
            <label for="county_and_state">Town/City</label>
            {{ form.county_and_state(class_='form-control input-sm') }}
        </div>
        <div class="form-group">
            <label for="order">Order</label>
            {{ form.order(class_='form-control input-sm') }}
        </div>
    </form>
{% endblock %}

{% block main_title %}
    Messages
{% endblock %}

{% block main_content %}

    <p class="pull-right">
        <a href="/export_all_download"><i class="fa fa-file-text-o"></i> Download All (CSV)</a>
    </p>

{%- macro previous_and_next() -%}
    <p>
        {% if form.page.data %}
        [<a href="#" class="change-page" data-change="-1">Previous Page</a>]
        {% endif %}

        {% if sites|length == sites_per_page %}
        [<a href='#' class="change-page" data-change="+1">Next Page</a>]
        {% endif %}
    </p>
{%- endmacro -%}

{{ previous_and_next() }}


    <table id="sites-table" class="table table-striped">
        <thead>
        <tr id="order-from-table">
            <th><a data-field="request_date">Date {% if form.order.data == 'request_date' %}<i class="fa fa-angle-up"></i>{% elif form.order.data == '-request_date' %}<i class="fa fa-angle-down"></i>{% endif %}</a></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Responses</th>
            <th><a data-field="work_type">Category {% if form.order.data == 'work_type' %}<i class="fa fa-angle-up"></i>{% elif form.order.data == '-work_type' %}<i class="fa fa-angle-down"></i>{% endif %}</a></th>
            <th><a data-field="message_type">Type {% if form.order.data == 'message_type' %}<i class="fa fa-angle-up"></i>{% elif form.order.data == '-message_type' %}<i class="fa fa-angle-down"></i>{% endif %}</a></th>
            <th>Message</th>
            <th><a data-field="county">Town {% if form.order.data == 'county' %}<i class="fa fa-angle-up"></i>{% elif form.order.data == '-county' %}<i class="fa fa-angle-down"></i>{% endif %}</a></th>
            <th><a data-field="state">Region {% if form.order.data == 'state' %}<i class="fa fa-angle-up"></i>{% elif form.order.data == '-state' %}<i class="fa fa-angle-down"></i>{% endif %}</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
        <tr>
            <td>{{ site.request_date.strftime('%m/%d/%Y') }}</td>
            <td>{{ site.name }}</td>
            <td>{{ site.gender }}</td>
            <td>{% if site.correct == 'y' %}correct{% endif %}</td>
            <td>{{ site.work_type }}</td>
            <td>{{ site.message_type }}</td>
            <td class="td-message" data-message="{{ site.message|e }}">{{ site.message|truncate(50) }}</td>
            <td>{{ site.county }}</td>
            <td>{{ site.state }}</td>
            <td>
                [<a href="/edit?id={{ site.key().id() }}">Edit</a>]
                {###### [<a href="/delete?id={{ site.key().id() }}">Delete</a>] #}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ previous_and_next() }}


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {

            // show wait cursor when form is submitted
            $('form').on('submit', function() {
                $('body').addClass('wait-cursor');
            });

            // submit form on change of select
            $('select').change(function() {
                $('form#site-filter').submit()
            });

            // submit form on click of prev or next links
            $('a.change-page').click(function() {
                var newPageNum = {{ form.page.data }} + parseInt($(this).attr('data-change'));
                $('input[name=page]').val(newPageNum);
                $('form#site-filter').submit()
            });

            $('.td-message').on('click', function() {
                $(this).html($(this).data('message'));
            });


            // order from table
            $('#order-from-table a').click(function(e) {
                e.preventDefault();
                var field = $(this).data('field');
                if ($('#order').find(":selected").val() == field)
                    field = '-'+field;
                $('#order').val(field);
                $('form#site-filter').submit();
            });


        });

    </script>
{% endblock %}
