<ul>
  <li><a href="/admin">Admin Home</a></li>
  <li><a href="/admin-website-settings">Website Settings</a></li>
  <li><a href="/admin-edit-pages">Edit Pages</a></li>
  <li><a href="/admin-organization-requests">Approve Orgs</a></li>
  <li><a href="/admin-create-organization">Create Org</a></li>
  <li><a href="/admin-see-admins">See Local Admins</a></li>
  <li><a href="/admin-all-organizations">View Orgs</a></li>
  <li><a href="/admin-create-contact">Contacts</a></li>
  {% if global_admin %}
    <li><a href="/admin-create-incident">Create Incident</a></li>
    <li><a href="/admin-create-incident-form">Edit Incident</a></li>
  {% endif %}
  <li><a href="/admin-import-csv">Import Work Orders</a></li>
  {% if global_admin %}
    <li><a href="/admin-stats">Statistics</a></li>
  {% endif %}
  <li><a href="/admin-communications">Communications</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
