{% macro render_field_row(field) %}
  <tr>
    <td>
      <label>{{ field.label }}</label>
    </td>
    <td>
      {{ field(**kwargs)|safe }}
    </td>
  {% if field.errors %}
    <td>
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </td>
  {% endif %}
  </tr>
{% endmacro %}

{% macro render_field_row_without_input(field) %}
  <tr>
    <td>
      {{ field.label }}
    </td>
    <td>
      {{ field.data }}
    </td>
  </tr>
{% endmacro %}

{% macro render_bootstrap_field(field) %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class="control-label col-sm-3") }}
    <div class="col-sm-9">
      {{ field(class="form-control", **kwargs) }}
      {% if field.errors %}
        <span class="help-block">{{ field.errors[0] }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}
