{% extends "base_template.html" %}
{% from "_form_utils.html" import render_bootstrap_field %}

{% block main_title %}
<h2>Edit Emails</h2>
{% endblock %}

{% block main_content %}

<h3>Instructions</h3>

<p>The following variables are available for use in subjects and bodies:</p>

{% macro render_jinja_var(var_text) %}
  <code>
    <span>{</span><span>{</span> {{ var_text }} <span>}</span><span>}</span>
  </code>
{% endmacro %}

{% macro render_properties_list(properties, var_name) %}
  {% for prop in properties %}
    <div>
      {{ render_jinja_var(var_name + "." + prop) }}
    </div>
  {% endfor %}
{% endmacro %}

<div class="row">
  <div class="col-sm-4">
    <h4>Organizations</h4>
    {{ render_properties_list(organization_properties, "org") }}
  </div>
  <div class="col-sm-4">
    <h4>Lists</h4>
    <p>Organizations also have the following <em>lists</em> of contacts:</p>
    <ul>
      <li>
        {{ render_jinja_var("org.contacts") }}
      </li>
      <li>
        {{ render_jinja_var("org.primary_contacts") }}
      </li>
    </ul>
    <h4>Contacts</h4>
    {{ render_properties_list(contact_properties, "contact") }}
    <h4>Events</h4>
    {{ render_properties_list(event_properties, "event") }}
  </div>
  <div class="col-sm-4">
    <h4>Syntax</h4>
    <p>Templates use the <a href="http://jinja.pocoo.org/docs/">Jinja2 language</a>.</p>
    <h5>Variables</h5>
    <p>Variables to be substituted use pairs of double braces, e.g. <code>{% raw %}{{ org.name }}{% endraw %}</code></p>
    <h5>Loops</h5>
    <p>Lists can be iterated over, e.g.</p>
    <code>
      {% raw %}
        {% for contact in org.contacts %}<br>
        {{ contact.first_name }}<br>
        {% endfor %}
      {% endraw %}
    </code>
  </div>
</div>

<form method="POST" role="form" class="form-horizontal">
  {% for form in forms %}
    <div class="form-section">
      <a name="{{ form.name.data }}"></a>
      <h3>{{ form.description.friendly_name }} ("{{ form.description.name }}")</h3>
      <p style="font-style: italic">{{ form.description.description }}</p>
      <p>Available variables: {{ form.description.variables }}</p>
      {{ render_bootstrap_field(form.subject) }}
      {{ render_bootstrap_field(form.body, rows=10) }}
      {{ render_bootstrap_field(form.use_html) }}
      <div class="html-body-group">
        {{ render_bootstrap_field(form.html_body, rows=10) }}
      </div>
      {{ render_bootstrap_field(form.bcc_global_admins) }}
      {{ render_bootstrap_field(form.bcc_local_admins) }}
      <div class="form-group">
        <div class="col-sm-push-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  {% endfor %}
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {

  var updateFormSection = function($formSection) {
    var $htmlBodyGroup = $formSection.find('div.html-body-group');
    var useHtmlChecked = $formSection.find('input[name*="use_html"]').prop('checked');
    if (useHtmlChecked) {
      $htmlBodyGroup.show();
    } else {
      $htmlBodyGroup.hide();
    }
  };

  // on change of checkbox, show or hide & empty html body fields
  $('input[name*="use_html"]').change(function () {
    updateFormSection($(this).closest('div.form-section'));
  });

  // init
  $('div.form-section').each(function () {
    updateFormSection($(this));
  });

});
</script>
{% endblock %}
