{% extends 'base_template.html' %}
{% from "_form_utils.html" import render_field_row %}

{% block main_title %}
<h2>Edit Contact</h2>
{% endblock %}

{% block main_content %}

<form method="POST">
  <input type="hidden" name="contact_id" value="{{ contact.key().id() }}">
  <table>
    <tr>
      <td>Organization</td>
      <td>{{ organization_name }}</td>
    </tr>
    {% for field in form %}
      {{ render_field_row(field) }}
    {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>

{% endblock %}
