{% extends "base_template.html" %}

{% block about %}
class="activePage"
{% endblock %}

{% block main_title %}
<h2>Organization: {{ organization.name }}</h2>
{% endblock %}

{% block main_content %}

{% include '_admin_org_table.html' %}

<form method=GET action="/admin-edit-organization">
  <input type=hidden name="organization" value={{organization.key().id()}}>
  <button class="btn" type=submit value="Edit Organization">
    Edit Organization
  </button>
</form>

<h2>Delete Organization</h2>

<p>This cannot be undone. All Contacts will be retained in the system, but their References to this Organization will be removed.</p>

<form method="POST" action="/admin" onsubmit="return confirm('Are you sure you want to delete this organization?');">
  <input type="hidden" name="delete_org_id" value="{{organization.key().id()}}">
  <button class="btn btn-danger" type="submit" value="Permanently delete this organization">
    Permanently delete this organization
  </button>
</form>
{% endblock %}
