{% extends "base_template.html" %}
{% from "_form_utils.html" import render_bootstrap_field %}

{% block main_title %}
<h2>Global Settings</h2>
{% endblock %}

{% block main_content %}

<h3>Configuration Keys ("ConfigKeys")</h3>

<form class="form-horizontal" method="POST">
  {% for config_key in config_keys %}
    <div class="form-group">
      <label class="control-label col-sm-3">{{ config_key.name }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="{{ config_key.name}}" value="{{ config_key.value }}">
      </div>
    </div>
  {% endfor %}
  <div class="col-md-9 col-sm-push-3">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

{% endblock %}
