{% extends "base_template.html" %}
{% block main_title %}
<h2>All Organizations</h2>
{% endblock %}

{% block main_content %}

<form>
  {{ form.name.label }} {{ form.name(placeholder="To be implemented", disabled=True) }}
  {{ form.active.label }} {{ form.active() }}
  {{ form.verified.label }} {{ form.verified() }}
  {{ form.logged_in_days.label }} {{ form.logged_in_days(placeholder="To be implemented", disabled=True) }}
  <button type="submit">Search</button>
</form>

<br>

<table class="sortable" border="1">
  <thead>
    <tr>
      <th>Incident</th>
      <th>Org Name</th>
    </tr>
  </thead>
  <tbody>
    {% for org in org_query %}
      <tr>
        <td>
          {{ org.incident.name }}
        </td>
        <td>
          <a href="{{ url }}{{ org.key().id()}}">
            {{ org.name }}
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">No orgs found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
