{% extends "base_template.html" %}
{% from "_form_utils.html" import render_field_row %}

{% block main_title %}
<h2 id="main-title">Edit Organization</h2>
{% endblock %}

{% block main_content %}

<button id="edit-org" class="btn btn-primary" disabled>Edit</button>

<form method="POST">
  <table>
    <h3>Incidents</h3>
    <ul>
      {% for incident_field in form.incidents %}
        {# iterating to override field names for webapp2 multiple select bug workaround #}
        <li>
          <input {% if incident_field.checked %}checked{% endif %} id="incidents-{{ loop.index0 }}" name="incidents-{{ loop.index0 }}" type="checkbox" value="{{ incident_field.data }}">
          {{ incident_field.label }}
        </li>
      {% endfor %}
    </ul>
    <input type="hidden" name="org_id" value="{{ organization.key().id() }}">
    {% for field in form if field.name != 'incidents' %}
      {{ render_field_row(field) }}
    {% endfor %}
  </table>
  <button type="submit" name="submit" id="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function() {

  $editButton = $('button#edit-org');
  $saveButton = $('button#submit');

  // disable form elements and switch title
  $('input, textarea, button').attr('readonly', true);
  $('h2#main-title').text('View Organization');
  $editButton.attr('disabled', false);
  $saveButton.attr('disabled', true);

  // upon clicking the edit button, enable the form
  $editButton.click(function() {
    $('input, textarea, button').attr('readonly', false);
    $('h2#main-title').text('Edit Organization');
    $editButton.attr('disabled', true);
    $saveButton.attr('disabled', false);
  });

});
</script>
{% endblock %}
