{% extends "base_template.html" %}
{% block main_title %}
<h2>Crisis Cleanup Stats</h2>
{% endblock %}

{% block main_content %}
<p>Sandy Total Sites = {{ SANDY_TOTAL_SITES }}</p>

<p>Hattiesburg Total Sites = {{ HATTIESBURG_TOTAL_SITES }}</p>

<p>Gordon-Bartow Total Sites = {{ GORDON_BARTOW_TOTAL_SITES }}</p>

<p>Moore Total Sites = {{ MOORE_TOTAL_SITES }}</p>

<p>Crisis Cleanup Total Sites = {{ TOTAL_SITES }}</p>

<h2>Logins by IP</h2>

<p>Total users: {{ audit_ips_len }}</p>
<p>Days: {{ days }}</p>
<p>Users per day: {{ audit_ips_len/days }}</p>
<table class="table">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Logins</th>
    </tr>
  </thead>
  <tbody>
	{% for key in sorted_audit_ips: %}
		<tr>
		  <td>{{ key[0] }}</td>
		  <td>{{ key[1] }}</td>
		</tr>
	{% endfor %}
  </tbody>
</table>

<h2>Logins by Date</h2>
<p>Days: {{ days }}</p>
<p>Logins: 1000</p>
<p>Average: {{ 1000 / days }}
<table class="table">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Logins</th>
    </tr>
  </thead>
  <tbody>
  {% for key in sorted_date_ips %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ date_ips[key] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
