{% extends "base_template.html" %}

{% block about %}
class="activePage"
{% endblock %}

{% block description_title %}
Organization Request
{% endblock %}

{% block description_subtitle %}
This organization is awaiting approval
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}

{% set organization=new_organization %}
{% include '_admin_org_table.html' %}

{% if form %}
  <p>(this cannot be undone)</p>
  <form method=POST action="/admin" style="display: inline-block">
    <input type=hidden name=activate_organization value={{new_organization.key().id()}}>
    <input type="submit" class="btn btn-primary"  value="Verify And Activate Organization">
  </form>
{% else %}
  <form method=POST action="/admin" style="display: inline-block">
    <input type=hidden name=edit_org_id value={{new_organization.key().id()}}>
    <input type="submit" class="btn"  value="Edit Organization">
  </form>
{% endif %}

  <form method=GET action="/admin-edit-organization" style="display: inline-block">
    <input type=hidden name="organization" value={{new_organization.key().id()}}>
    <input type="submit" class="btn"  value="Edit Organization">
  </form>
      
  <form method=POST action="/admin" style="margin-top: 20px;">
    <p>(This cannot be undone. All Contacts will be retained in the system, but their References to this Organization will be removed.)</p>
    <input type=hidden name=delete_org_id value={{new_organization.key().id()}}>
    <input type="submit" class="btn btn-danger"  value="Permanently delete this organization">
  </form>
{% endblock %}

