{% extends "base_template.html" %}
{% from "_form_utils.html" import render_field_row %}

{% block main_title %}
<h2>Create Organization</h2>
{% endblock %}

{% block main_content %}

<form method="POST">
  <h3>Choose an incident: </h3>
  {{ form.incident }}
  {% for error in form.incident.errors %}
    {{ error }}
  {% endfor %}

  <h3>Should organization be immediately active?</h3>
  <table>
    {{ render_field_row(form.is_active) }}
    {{ render_field_row(form.org_verified) }}
  </table>

  <h3>Organization</h3>

  <table>
    {% for field in form if field.name not in ('incident', 'is_active') %}
      {{ render_field_row(field) }}
    {% endfor %}
  </table>

  <button type="submit" name="submit">Create</button>

</form>

{% endblock %}
