{% extends "base_template.html" %}
{% block main_title %}
<h2>Create Incident CSV</h2>
{% endblock %}
{% block main_content %}

<form method="POST" action="/admin-create-incident-csv">
{% if errors %}
<section id="errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</section>
{% endif %}
<p>Choose incident</p>
<select name="choose_incident" id="choose_incident">
{% for result in event_results %}
<option value="{{result.key().id()}}">{{result.name}}</option>
{% endfor %}
</select><br/><br/>
<textarea id="form_text_area" name="incident_csv" rows="30" cols="150">Enter all terms, separated by comma.</textarea>
<br/>
<br/>

<input type=submit value="Submit Form">
</form>

{% endblock %}

