{% extends "base_template.html" %}

{% block main_title %}
<h2>Work Orders</h2>
{% endblock %}

{% block main_content %}

<form method="GET">
  {{ form.offset }}
  {{ form.order }}
  {{ form.query.label }} {{ form.query(placeholder="Not yet implemented", disabled=True) }}
  {{ form.reporting_org.label }} {{ form.reporting_org() }}
  {{ form.claiming_org.label }} {{ form.claiming_org() }}
  {{ form.work_type.label }} {{ form.work_type() }}
  {{ form.status.label }} {{ form.status() }}
  <button type="submit">Search</button>
</form>

{% if sites|length > 0 %}
  <table border="1">
    <thead>
      <tr>
        <th>Incident</th>
        <th data-field="name">Name</th>
        <th>Address</th>
        <th data-field="reported_by">Reported by</th>
        <th data-field="claimed_by">Claimed by</th>
        <th data-field="work_type">Work Type</th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
        <tr>
          <td>{{ site.event.name }}</td>
          <td>{{ site.name }}</td>
          <td>
            <a href="/edit?id={{ site.key().id() }}">
              {{ site.full_address }}
            </a>
          </td>
          <td>{{ site.reported_by.name }}</td>
          <td>{{ site.claimed_by.name }}</td>
          <td>{{ site.work_type }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div>
    {% if prev_offset >=0 %}
      <a href="#" onclick="$('input[name=offset]').val('{{prev_offset}}').parent('form').submit()">
        Previous
      </a>
    &nbsp;&nbsp;&nbsp;
    {% endif %}
    <a href="#" onclick="$('input[name=offset]').val('{{next_offset}}').parent('form').submit()">
      Next
    </a>
  </div>

{% else %}
  <p>No work orders found.</p>
{% endif %}

{% endblock %}
{% block scripts %}
<style type="text/css">
/* set cursor for sortable-fields */
th[data-field] {
  cursor: pointer;
}
</style>
<script type="text/javascript">
$(function() {

$('th[data-field]').click(function(event) {
  // flip or set the sort order
  var orderField = $(this).attr('data-field');
  if (orderField) {
    var currentOrder = $('input[name=order]').val();
    var newOrder = orderField != currentOrder ? orderField : '-' + orderField;
    $('input[name=order]').val(newOrder).parent('form').submit();
  }
});

});
</script>
{% endblock %}
