{% extends "base_template.html" %}
{% block main_title %}
<h2>Create Contact</h2>
{% endblock %}

{% block main_content %}

{% if message %}
  <p><strong>{{ message }}</strong></p>
  <br>
{% endif %}

<form method="POST" action="/admin">
  {% if errors %}
  <section id="errors">
    <header>The submission had errors</header>
    <article>
      <ul>
      {% for k in errors %}
        <li class="error">
          {% for e in errors[k] %}
            {{k}}: {{e}}
          {% endfor %}
        </li>
      {% endfor %}
      </ul>
    <article>
  </section>
  {% endif %}

  {% if selected_org %}
    <p>Organization: {{ selected_org.name }}
    <input type="hidden" name="choose_organization" value="{{ selected_org.key().id() }}">
  {% else %}
    <p>Choose organization:</p>
    <select name="choose_organization">
      {% for o in organization_list %}
        <option value="{{ o.key().id() }}">
          {{ o.name }}
        </option>
      {% endfor %}
    </select>
  {% endif %}
  
  <br/><br/>

  <table>
    <tr>
      <td>{{ form.first_name.label }}:</td>
      <td>{{ form.first_name }}</td>
    <tr>
      <td>{{ form.last_name.label }}:</td>
      <td>{{ form.last_name }}</td>
    </tr>
    <tr>
      <td>{{ form.title.label }}:</td>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <td>{{ form.email.label }}:</td>
      <td>{{ form.email }}</td>
    </tr>
    <tr>
      <td>{{ form.phone.label }}:</td>
      <td>{{ form.phone }}</td>
    </tr>
  </table>

  <p>
    <label for="is_primary">Applicant Is Primary Contact for Organization:
    {{ form.is_primary }}
  </p>

  <input type=hidden name=create_contact value=True>
  <input type=submit value="Create Contact">

</form>

{% endblock %}

