{% extends "base_template.html" %}
{% block main_title %}
<div class='col-lg-12'>
  <h2>Crisis Cleanup Stats</h2>
</div>
{% endblock %}

{% block main_content %}
<!-- <div class='col-lg-12'>

  <table class="table">
    <thead>
      <tr>
        <th>Sandy Sites</th>
        <th>Hattiesburg Sites</th>
        <th>Gordon-Bartow Sites</th>
        <th>Moore Sites</th>
        <th>Total Sites</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ SANDY_TOTAL_SITES }}</td>
        <td>{{ HATTIESBURG_TOTAL_SITES }}</td>
        <td>{{ GORDON_BARTOW_TOTAL_SITES }}</td>
        <td>{{ MOORE_TOTAL_SITES }}</td>
        <td>{{ TOTAL_SITES }}</td>

      </tr>
    </tbody>
  </table>
</div> -->


<div class='col-lg-6'>
  <h3>Logins by IP</h3>
  <p><u>Sorted by most times logged in</u></p>

  <p>Total users: {{ audit_ips_len }}</p>
  <p>Days: {{ days }}</p>
  <p>Users per day: {{ audit_ips_len/days }}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Ip</th>
        <th>Logins</th>
      </tr>
    </thead>
    <tbody>
    {% for key in sorted_audit_ips: %}
      <tr>
        <td>{{ key[0] }}</td>
        <td>{{ key[1] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-lg-6">
  <h3>Logins by Date</h3>
  <p><u>Sorted by date</u></p>
  <p>Days: {{ days }}</p>
  <p>Logins: 1000</p>
  <p>Average: {{ 1000 / days }}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Ip</th>
        <th>Logins</th>
      </tr>
    </thead>
    <tbody>
    {% for key in sorted_date_ips %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ date_ips[key] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
