{% extends "base_template.html" %}

{% block main_title %}
<h2>Incidents</h2>
{% endblock %}

{% block main_content %}

<table class="table" style="width: auto">
  <thead>
    <tr>
      <th>Incident</th>
      <th>Short Name</th>
      <th>Case Label</th>
      <th>Created</th>
      <th>Started</th>
      <th>Sites (est.)</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td>
          <a href="#" onclick="alert('TODO: link to incident definition editor'); return False;">
            {{ event.name }}
          </a>
        </td>
        <td>{{ event.short_name }}</td>
        <td>{{ event.case_label }}</td>
        <td>{{ event.created_date }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.num_sites }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary" href="/admin-create-incident">
  Create Incident
</a>

{% endblock %}
