{% extends "base_template.html" %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
$(function() {
  $('input[type=radio]').change(function() {
    $('.inputDisabled').prop("disabled", false);  
  });
});
</script>
{% endblock %}


{% block main_title %}
<h2>View New Password</h2>
{% endblock %}

{% block main_content %}
  <h3 style="color: blue;">You're not done! Please use the form to complete the new password</h3>
  <p>Password: {{ password }}</p>
  <form method="POST" action="/admin-generate-new-password">
  <input type="hidden" name="name" value="{{name}}">
  <input type="hidden" name="event_name" value="{{event_name}}">
  <input type="hidden" name="password" value="{{password}}">
  <input class="radio-button" type="radio" name="accept" value="true">Accept this password<br>
  <input class="radio-button" type="radio" name="accept" value="false">Generate a New Password<br><br>
  <button class="submit inputDisabled" disabled>Submit</button>
  </form>
{% endblock %}
