{% extends "base_template.html" %}
{% block main_title %}
<h2>Organization Signups</h2>
{% endblock %}
{% block main_content %}

{% if orgs.count() > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Primary Contacts</th>
      </tr>
    </thead>
    <tbody>
      {% for org in orgs %}
        <tr>
          <td>
            <a href="{{ url }}{{ org.key().id() }}">{{ org.name }}</a>
          </td>
          <td>
            {% for contact in org.primary_contacts %}  {# TODO replace with map in Jinja 2.7 #}
              {% if loop.index0 > 0 %},{% endif %}
              {{ contact.full_name }}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are currently no organizations to approve.</p>
{% endif %}

{% endblock %}
