{% extends "base_template.html" %}
{% block main_title %}
<h2>All Organizations</h2>
{% endblock %}

{% block main_content %}

<div>
  [<a href="?">All</a>]
  [<a href="?filter=active">Active only</a>]
  [<a href="?filter=inactive">Inactive only</a>]
</div>

<table class="sortable" border="1">
  <thead>
    <tr>
      <th>Incident</th>
      <th>Org Name</th>
    </tr>
  </thead>
  <tbody>
    {% for org in org_query %}
      <tr>
        <td>
          {{ org.incident.name }}
        </td>
        <td>
          <a href="{{ url }}{{ org.key().id()}}">
            {{ org.name }}
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">No orgs found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
