{% extends "base_template.html" %}

{% block about %}
class="activePage"
{% endblock %}

{% block description_title %}
Organization Request
{% endblock %}

{% block description_subtitle %}
This organization is awaiting approval
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}

{% set organization=new_organization %}
{% include '_admin_org_table.html' %}

{% if form %}
  (this cannot be undone)
  <form method=POST action="/admin">
  <input type=hidden name=activate_organization value={{new_organization.key().id()}}>
  <input type=submit value="Verify And Activate Organization">
  </form>
{% else %}
  <form method=POST action="/admin">
  <input type=hidden name=edit_org_id value={{new_organization.key().id()}}>
  <input type=submit value="Edit Organization">
  </form>
{% endif %}

  <form method=GET action="/admin-edit-organization">
  <input type=hidden name="organization" value={{new_organization.key().id()}}>
  <input type=submit value="Edit Organization">
  </form>
    <form method=POST action="/admin">
      
  <form method=POST action="/admin">
    (This cannot be undone. All Contacts will be retained in the system, but their References to this Organization will be removed.)
    <br/>

  <input type=hidden name=delete_org_id value={{new_organization.key().id()}}>
  <input type=submit value="Permanently delete this organization">
  </form>
{% endblock %}

