{% extends "base_template.html" %}
{% block main_title %}
<h2>Crisis Cleanup Stats</h2>
{% endblock %}

{% block main_content %}
<p>Sandy Total Sites = {{ SANDY_TOTAL_SITES }}</p>

<p>Hattiesburg Total Sites = {{ HATTIESBURG_TOTAL_SITES }}</p>

<p>Gordon-Bartow Total Sites = {{ GORDON_BARTOW_TOTAL_SITES }}</p>

<p>Moore Total Sites = {{ MOORE_TOTAL_SITES }}</p>

<p>Crisis Cleanup Total Sites = {{ TOTAL_SITES }}</p>

<h2>Logins by IP</h2>
<table class="table">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Logins</th>
    </tr>
  </thead>
  <tbody>
	{% for key in audit_ips %}
		<tr>
		  <td>{{ key }}</td>
		  <td>{{ audit_ips[key] }}</td>
		</tr>
	{% endfor %}
  </tbody>
</table>

<h2>Logins by Date</h2>
<table class="table">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Logins</th>
    </tr>
  </thead>
  <tbody>
  {% for key in date_ips %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ date_ips[key] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
