<!DOCTYPE html>
<html>
  <head>
    <title>CrisisCleanup Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="assets/css/ladda-themeless.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block head_content %}
    {% endblock %}
    <style type="text/css">
      /* open dropdown menus on hover */
      ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;    
      }

      /* modify navbar */
      .navbar {
        border: none !important;
        border-radius: 0 !important;
      }

      /* wait cursor */
      body.wait-cursor, body.wait-cursor *{
        cursor: wait !important;
      }
    </style>
  </head>
  <body>

  <div class="navbar navbar-inverse" style="margin: 0">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">
          CrisisCleanup 
        </a>
      </div>
      <div class="">
        <ul class="nav navbar-nav navbar-right">
          {# navbar-right => this goes further right than the next block... #}
          <li class="dropdown">
            <a>
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ org.name if org is defined else "" }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="{% if org is not defined %}disabled{% endif %}">
                <a href="/admin-edit-organization?organization={{ org.key().id() if org is defined else None }}">
                  Profile
                </a>
              </li>
              <li class="divider"></li>
              <li><a href="/map">Return to Map</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
              <li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right collapse navbar-collapse">
          <div class="form-group">
            <input class="input-sm" type="search" class="form-control" placeholder="Search" disabled>
          </div>
          <div class="form-group">
            <select class="form-control input-sm" disabled>
              <option value="">All</option>
              <option value="">Incidents</option>
              <option value="">Organizations</option>
              <option value="">Contacts</option>
              <option value="">Work Orders</option>
              <option value="">Communications</option>
            </select>
          </div>
          <button type="submit" class="btn btn-sm" disabled>Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="">
        <ul class="nav navbar-nav">
          {# Dashboard menu #}
          <li class="dropdown">
            <a href="/admin-stats">
              Dashboard <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="/admin-stats">Site Stats</a></li>
              <li class="disabled"><a href="/admin-stats">Incident Stats</a></li>
              <li class="disabled"><a href="/admin-stats">Organization Stats</a></li>
              <li class="disabled"><a href="/admin-stats">Work Order Stats</a></li>
              <li class="disabled"><a href="/admin-stats">Volunteer Stats</a></li>
              <li class="disabled"><a href="#/admin-system-activity">System Activity</a></li>
              <li class="divider"></li>
              <li><a href="/map">Return to Map</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>

          {# Incidents menu #}
          <li class="dropdown">
            <a href="/admin-view-incidents">
              Incidents <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin-view-incidents">Manage</a></li>
              <li><a href="/admin-create-incident">Create</a></li>
              <li><a href="/admin-create-incident-form">Edit</a></li>
              <li><a href="/admin-approve-incidents">Approve</a></li>
              <li class="disabled">
                <a href="#incident_print_template_view.html">Printer Templates</a>
              </li>
              <li><a href="/admin-define-permissions">Define Permissions</a></li>
            </ul>
          </li>
          
          {# Organizations menu#}
          <li class="dropdown">
            <a href="/admin-all-organizations">
              Organizations <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin-all-organizations">Manage Orgs</a></li>
              <li><a href="/admin-create-organization">Create Org</a></li>
              <li><a href="/admin-organization-requests">Approve Org</a></li>
              <li><a href="/admin-see-admins">Local Admins</a></li>
              <li><a href="/admin-display-contacts">Contacts</a></li>
              <li><a href="/admin-validation-questions">Validation Questions</a></li>
            </ul>
          </li>

          {# Work Orders menu #}
          <li class="dropdown">
            <a href="/admin-view-work-orders">
              Work Orders <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin-view-work-orders">Manage</a></li>
              <li><a href="/admin-import-csv">Import</a></li>
              <li><a href="/admin-fix-errors">Find &amp; Fix Errors</a></li>
            </ul>
          </li>

          {# Communications menu #}
          <li class="dropdown">
            <a href="/admin-communications" >
              Communications <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="#contact_export.html">Export Org Contacts</a></li>
              <li><a href="/admin-social-media">Social Media</a></li>
              <li class="disabled"><a href="#com_email_template.html">Email Templates</a></li>
              <li><a href="/admin-website-alerts">Website Alerts</a></li>
            </ul>
          </li>

          {# Settings menu #}
          <li class="dropdown">
            <a href="/admin-website-settings" >
              Settings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin-global-settings">Global Settings</a></li>
              <li class="disabled"><a href="#settings_web_analytics.html">Web Analytics</a></li>
              <li class="disabled"><a href="#settings_display.html">Display Settings</a></li>
              <li><a href="/admin-edit-pages">Content Settings</a></li>
              <li class="disabled"><a href="#settings_other.html">Other Settings</a></li>
            </ul>
          </li>

          {# Maintenance menu #}
          <li class="dropdown">
            <a href="#maint.html">
              Maintenance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="#maint_backup.html">System Backup</a></li>
              <li class="disabled"><a href="#maint_restore.html">System Restore</a></li>
              <li class="disabled"><a href="#incident_import.html">Import Incidents</a></li>
              <li class="disabled"><a href="#incident_export.html">Export Incidents</a></li>
              <li><a href="/admin-import-csv">Import Work Orders</a></li>
              <li class="disabled"><a href="#maint_revert_work_order.html">Revert Work Order</a></li>
            </ul>
          </li>
      </div>
    </div>
  </div>
    
    
  <div class="container">

    <h1>{% block main_title %}{% endblock %}</h1>

    {% block main_content %}
    {% endblock %}

  </div>

  <div style="height: 40px;"></div>

  {# load scripts at the end #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/libs/jquery-1.11.0.min.js"><\/script>')</script>

  <script src="/assets/js/libs/bootstrap.min.js"></script>
  <script src="/assets/js/libs/spin.min.js"></script>
  <script src="/assets/js/libs/ladda.min.js"></script>

  {% block scripts %}

  {# sortable tables #}
  <style type="text/css">
    /* styles for sortable tables */
    th.header {
      cursor: pointer;
    }
    
    th.headerSortUp {
    }
    
    th.headerSortUp:after {
      content: " \002227";
    }
    
    th.headerSortDown {
    }
    
    th.headerSortDown:after {
      content: " \002228";
    }
  </style>
  <script src="../assets/js/libs/jquery.tablesorter.js" type="text/javascript"></script> 
  <script type="text/javascript">
    $(function() {
      // make tables sortable
      $('table.sortable').tablesorter();
    });
  </script>

  {% endblock %}
  </body>
</html>
