
{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
<h2>Incident: {{ incident_definition_object.name }}</h2>
<h2>Add Phase</h2>
<h3>This can't be undone.</h3>
<p>Adding a phase is one of the most important things you can do with an incident, but it must be done carefully.</p>
<p>If you are sure, please continue.</p>
{% if phases_empty %}
<p><strong>This phase is empty. Would you like to clone a pre-existing phase? This would clone the phases and the forms, while changing the phase id numbers.</strong><a href="/clone_incident_phases_and_forms?incident_id={{ incident_definition_object.key().id() }}"> Click here</a> to clone.</p>
{% endif %}
{% if errors %}
<section id="errors">
  <header>The submission had errors</header>
  <article>
    <ul>
    {% for k in errors %}
      <li class="error">
        {% for e in errors[k] %}
          {{k}}: {{e}}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  <article>
</section>
{% endif %}
<form id="first_phase_form" action="/incident_add_phase" method="POST">
<div>{{ form.phase_name.label}}{{form.phase_name}}</div>
<div>{{ form.description.label }}{{ form.description }}</div>
  <input type="hidden" name="incident_id" value="{{ incident_definition_object.key().id() }}">
  <button class="submit">Submit</button>
</form>

{% endblock %}
