
{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block login %}
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}
<h2>Incident Definition Home</h2>
<p><a href="/incident_list">See list of completed incident definitions</a></p>
<p><a href="/incident_definition">Create an event and an incident definition</a></p>
<p><a href="/incident_definition_legacy">Add an incident definition to an old incident.</a></p>
{% endblock %}

