
{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
<form action="/incident_definition" method="POST">

<h2>Incidents</h2>
<p><a href="/incident_definition">Create a new incident</a> or click on an incident below to see more information.</p>

<ul>
  {% for incident in incidents %}
    <li><a href="/incident_definition?id={{ incident.key().id() }}"> {{ incident.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
