
<p><em>Please use your local team name. E.g. "Team Rubicon Region 5" or "LDS Church-Plainview Stake" rather than "Team Rubicon" or "LDS Church".</em></p>

<table>
	<tr>
		<td class="question" title="This will be your organization&rsquo;s username."><label for="name">Organization Name</label>*:</td>
		<td class="answer"><input name="name" id="name" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Lets others contact an official organization email."><label for="email">Organization Email</label>:</td>
		<td class="answer"><input name="email" id="email" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Official organization phone number."><label for="phone">Organization Phone Number</label>:</td>
		<td class="answer"><input name="phone" id="phone" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to link to you."><label for="url">Organization URL</label>:</td>
		<td class="answer"><input name="url" id="url" type="text" value="http://" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to follow you and promote your Twitter feed."><label for="twitter">Organization Twitter</label>:</td>
		<td class="answer"><input name="twitter" id="twitter" type="text" value="@" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="We would love to follow you and promote your Facebook link."><label for="facebook">Facebook link</label>:</td>
		<td class="answer"><input name="facebook" id="facebook" type="text" value="http://" size="35" /></td>
 	</tr>
  <tr class="address-show-link-row">
    <td colspan="2">
      <a id="add-address-link" href="#">[+] Add Address</a>
    </td>
  </tr>
	<tr class="address-row">
		<td class="question" title="Official organization address, OR field address for the Incident."><label for="address">Address</label>:</td>
		<td class="answer"><input name="address" id="address" type="text" value="" size="35" /></td>
	</tr>
	<tr class="address-row">
		<td class="question"><label for="city">City</label>:</td>
		<td class="answer"><input name="city" id="city" type="text" value="" size="35" /></td>
	</tr>
	<tr class="address-row">
		<td class="question"><label for="state">State</label>:</td>
		<td class="answer"><input name="state" id="state" type="text" value="" size="35" /></td>
	</tr>
	<tr class="address-row">
		<td class="question"><label for="zip_code">Zip Code</label>:</td>
		<td class="answer"><input name="zip_code" id="zip_code" type="text" value="" size="35" /></td>
	</tr>
	<tr>
		<td class="question" title="Organization profile information is optional. If you choose yes, your organization&#39;s contact information (but not personal information) may be published on crisiscleanup.org as a way for volunteers and others to contact your organization."><label for="publish">Publish Organization Profile</label><a href="#0.1_fn3"><sup>3</sup></a>:</td>
		<td class="answer"><input name="publish" id="publish" type="checkbox" value="1" checked="checked" /></td>
	</tr>
</table>
