{% extends "base_template.html" %}

{% block description_title %}
{{ activation_too_late_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ activation_too_late_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ activation_too_late_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ activation_too_late_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ activation_too_late_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ activation_too_late_main_content_page_block|safe }}

{% endblock %}
