{% extends "base_template.html" %}

{% block description_title %}
{{ already_activated_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ already_activated_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ already_activated_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ already_activated_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ already_activated_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ already_activated_main_content_page_block|safe }}

{% endblock %}
