
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
}

#map_canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  float: left;
}
#pano {
  position: absolute;
  right: 0;
  top: 0;
  height: 40%;
  width: 40%;
  z-index: 2;
}
#logout_div {
  position: absolute;
  left: 100px;
  top: 20px;
  background-color: #ffffff;
  opacity: .8;
  z-index: 21;
  padding: 20px;
}
#info {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 20;
  display: none;
}
#filtersbackground {
  z-index: 3;
  position: absolute;
  left: 100px;
  bottom: 100px;
  background-color: #ffffff;
  opacity: .8;
  padding: 20px;
}
#filters {
  opacity: 1.0;
}
.modal-dialog-bg {
  z-index: 21;
}
.modal-dialog {
  z-index: 22;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
#mainTable {
  height: 100%;
  width: 100%;
}
#legend_div {
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 40px;
  background-color: #ffffff;
  opacity: .8;
  padding: 0px;
}
#legend_img {
  max-width: 202px;

}
.ac-renderer {
  z-index: 25;
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  z-index: 25;
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  z-index: 25;
  font-weight: bold;
}

.ac-active {
  z-index: 25;
  background-color: #b2b4bf;
}
