html {
  font-size: 14px;
}
#form_background {
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 30px;
  bottom: 10px;
  background-color: #ffffff;
  opacity: .8;
  padding: 20px;
}
#form {
  width: 450px;
  opacity: 1.0;
  overflow: auto;
  height: 100%;
}
.question {
  width: 210px;
  float: left;
}
.answer {
  width: 210px;
  float: right;
}
hr {
  width: 100%;
}
.error {
  color: red;
  width: 210px;
}
.errors {
  color: red;
}
.error_detail {
  color: red;
  width: 210px;
}
.delete_form {
  border: 2px solid red;
  background-color: #ffc;
  padding: 5px;
}
.delete_button {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
input[type="submit"] {
  padding: 10px;
}
.form_message {
  font-size: 18px;
  color: green;
  font-weight: bold;
  margin-bottom: 35px;
}
section#errors {
  border: #f00 2px solid;
  background-color: pink;
  padding: 5px;
  margin-bottom: 30px;
}
section#errors header {
  font-size: 18px;
  font-weight: bold;
}

section#errors li {
  font-weight: bold;
  color: #000;
}

.error_field input, .error_field select, .error_field textarea {
  border: #f00 2px solid;
}
.required-asterisk {
  color: #C43B1D;
}