{% extends "base_template.html" %}

{% block description_title %}
{{ activation_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ activation_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ activation_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ activation_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ activation_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ activation_main_content_page_block|safe }}

<h2>Activation for {{ org.name }}</h2>

<form method="POST">
  <input type="hidden" name="seed" value="{{ seed }}">
  {% for question_form in question_forms %}
    {% if question_form.ask or question_form.answered  %}
      <p><b>Q:</b> {{ question_form.question.question }}</p>
      {% for answer_radio_button in question_form.answers %}
        <div>
          {% if not question_form.answered %}
            {{ answer_radio_button }}
          {% else %}
            {{ answer_radio_button(readonly=True) }}
          {% endif %}
          <label for="{{ answer_radio_button.name }}">{{ answer_radio_button.label }}</label>
        </div>
      {% endfor %}
      {% if question_form.answered %}
        <div>
          {% if question_form.correct %}
            <b>Correct:</b> {{ question_form.question.explanation }}
          {% else %}
            <b>Wrong:</b> {{ question_form.question.explanation }}
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if allow_pass %}
    <input type="hidden" name="allow_pass" value="allow_pass">
  {% endif %}

  <button style="margin-top: 5px;">Submit &amp; activate account</button>

</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(function() {
  // simulate truly readonly radio buttons
  $(':radio[readonly]:not(:checked)').attr('disabled', true);
});
</script>
{% endblock %}
