{% extends "base_template.html" %}

{% block head_content %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../javascript/incident_form_creator.js"></script>

{% endblock %}

{% block login %}
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
<div id="sidebar_form_creator">
<div id="form_editor">
<a href="#" id="save_all_changes">Save All Changes</a></form>

</div>
<h2>Add Inputs to form</h2>
<a id="add_label" href="#form_editor">map label + </a><br>
<a id="add_paragraph" href="#form_editor">intro paragraph +</a><br>
<a id="add_header" href="#form_editor">header +</a><br>
<a id="add_text" href="#form_editor">text input +</a><br>
<a id="add_checkbox" href="#form_editor"">checkbox input +</a><br>
<a id="add_select" href="#form_editor"">select input +</a><br>
<a id="add_radio" href="#form_editor"">radio input +</a><br>


<div id="text_div">

<h3>Add Text Input</h3>
<form id="text_form">
Label: <input type="text" id="text_label" name="text_label"><br>
Default Value: <input type="text" id="text_default" name="text_default"><br> 
Placeholder: <input type="text" id="text_placeholder" name="text_placeholder"><br> 
Required: <input type="checkbox" id="text_required" name="text_required" value="y">
Sensitive: <input type="checkbox" id="text_sensitive" name="text_sensitive" value="y"><br>
Form Id: <input type="text" id="text_id" name="text_id"><br>

<h3>Add Display Info</h3>
*For advanced users<br>
InfoBox: <textarea id="text_infobox" name="text_infobox" rows="2" cols="20">Write something here</textarea><br>
Printer: <input type="text" id="text_printer" name="text_printer"><br>
Mobile: <input type="text" id="text_mobile" name="text_mobile"><br>
Sms: <input type="text" id="text_sms" name="text_sms"><br>
<a href="#form_editor" id="add_text_to_form">Add to form</a></form>
</div>

<div id="checkbox_div">
<h3>Add Checkbox</h3>
<form id="checkbox_form">
Label: <input type="text" id="checkbox_label" name="checkbox_label"><br>
Default Value:<select id="checkbox_default" name="checkbox_default">
<option value="n" >Unchecked</option>
<option value="y" >Checked</option>
</select><br><br>
Required: <input type="checkbox" id="checkbox_required" name="checkbox_required" value="y">
Sensitive: <input type="checkbox" id="checkbox_sensitive" name="checkbox_sensitive" value="y"><br>
Form Id: <input type="text" id="checkbox_id" name="checkbox_id"><br>
Checked Value: <input type="text" id="checkbox_checked_value" name="checkbox_checked_value"><br>
Unchecked Value: <input type="text" id="checkbox_unchecked_value" name="checkbox_unchecked_value"><br>

<h3>Add Display Info</h3>
*For advanced users<br>
InfoBox: <textarea id="checkbox_infobox" name="checkbox_infobox" rows="2" cols="20">Write something here</textarea><br>
Printer: <input type="text" id="checkbox_printer" name="checkbox_printer"><br>
Mobile: <input type="text" id="checkbox_mobile" name="checkbox_mobile"><br>
Sms: <input type="text" id="checkbox_sms" name="checkbox_sms"><br>
<a href="#form_editor" id="add_checkbox_to_form">Add to form</a></form>
</div>
<div id="select_div">

<h3>Add Select</h3> 
<form id="select_form">
Label: <input type="text" id="select_label" name="select_label"><br>
<div id="add_options_to_select">
Option 1:  <input type="text" id="select_option_1" name="select_option_1"><br>
</div>
<a id="add_select_option" href="#form_editor">Add another option</a>
<br>
<a id="clear_select_options">Clear options</a>
<br>
Default: <select id="select_default" name="select_default">
<option value="select_option_1">Option 1</option>
</select>
<br>
<br>
Required: <input type="checkbox" id="select_required" name="select_required" value="y">
Sensitive: <input type="checkbox" id="select_sensitive" name="select_sensitive" value="y"><br>
Form Id: <input type="text" id="select_id" name="select_id"><br>
<h3>Add Display Info</h3>
*For advanced users<br>
InfoBox: <textarea id="select_infobox" name="select_infobox" rows="2" cols="20">Write something here</textarea><br>
Printer: <input type="text" id="select_printer" name="select_printer"><br>
Mobile: <input type="text" id="select_mobile" name="select_mobile"><br>
Sms: <input type="text" id="select_sms" name="select_sms"><br>
<a href="#form_editor" id="add_select_to_form">Add to form</a></form>
</div>

<div id="radio_div">
<h3>Add Radio</h3> 
<form id="radio_form">
Label: <input type="text" id="radio_label" name="radio_label"><br>
<div id="add_options_to_radio">
Option 1:  <input type="text" id="radio_option_1" name="radio_option_1"><br>
</div>
<a id="add_radio_option" href="#form_editor">Add another option</a>
<br>
<a id="clear_radio_options">Clear options</a>
<br>
Default: <select id="radio_default" name="radio_default">
<option value="radio_option_1">Option 1</option>
</select>
<br>
<br>Required: <input type="checkbox" id="radio_required" name="radio_required" value="y">
Sensitive: <input type="checkbox" id="radio_sensitive" name="radio_sensitive" value="y"><br>
Form Id: <input type="text" id="radio_id" name="radio_id"><br>
Low Hint: <input type="text" id="radio_low_hint" name="radio_low_hint"><br>
High Hint: <input type="text" id="radio_high_hint" name="radio_high_hint"><br>

<h3>Add Display Info</h3>
*For advanced users<br>
InfoBox: <textarea id="radio_infobox" name="radio_infobox" rows="2" cols="20">Write something here</textarea><br>
Printer: <input type="text" id="radio_printer" name="radio_printer"><br>
Mobile: <input type="text" id="radio_mobile" name="radio_mobile"><br>
Sms: <input type="text" id="radio_sms" name="radio_sms"><br>
<a href="#form_editor" id="add_radio_to_form">Add to form</a></form>
</div>

<div id="header_div">
<h2>Add Header to form</h2>

<form id="header_form">
Label: <input type="text" id="header_label" name="header_label"><br>
<a href="#form_editor" id="add_header_to_form">Add to form</a></form>
</div>

<div id="label_div">
<h2>Add Header to form</h2>

<form id="label_form">
Label: <input type="text" id="label_name" name="label_name"><br>
<a href="#form_editor" id="add_label_to_form">Add to form</a></form>
</div>

<div id="paragraph_div">
<h2>Add Header to form</h2>

<form id="paragraph_form">
Paragraph: <input type="text" id="paragraph" name="paragraph"><br>
<a href="#form_editor" id="add_paragraph_to_form">Add to form</a></form>
</div>

{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}
<h2>Incident Form Creator</h2>
<select id="incident" name="incident">
    <option value="None">Choose an Incident</option>
    {% for incident in incidents %}
    <option value="{{ incident.short_name }}">{{ incident.full_name }}</option>
    {% endfor %}
</select>
<br>
<br>

<div id="main_form_nav">
  <select id="phases_list">
  <option value="None">Choose a phase</option>

  </select>
  <br>
  <a href="#" id="add_phase_button">Add Phase</a>
  <a href="#" id="close_phase_button">Close Form</a>


</div>

<div id="phase_htmls">


</div>

<div id="first_phase_form_div">
  <form id="first_phase_form" action="/incident_create_first_phase" method="POST">
  Phase Name: <input type="text" name="phase_name"><br>
  Phase Definition: <input type="text" name="phase_definition"><br>
  <input type="hidden" name="phase_position" value="0">

  <button class="submit">Submit</button>
</form>
</div>

<div id="add_phase_form_div">
  <form id="add_phase_form" action="/incident_create_first_phase" method="POST">
  Phase Name: <input type="text" name="phase_name"><br>
  Phase Definition: <input type="text" name="phase_definition"><br>
  Phase Position: <input type="text" name="phase_position"><br>

  <input type="hidden" name="add_phase" value="true">
  <button class="submit">Submit</button>
</form>
</div>

<div id="phase1">
<div id="tabs">
<!--  <ul>
    <li><a href="#" id="show_html">HTML</a></li>
    <li><a href="#" id="show_json">JSON</a></li>
  </ul>-->
  
  <a href="#" id="show_html">HTML</a>
  <a href="#" id="show_json">JSON</a>
  <div id="tabs-1">
      <div id="form_label">
      </div>
      <div id="form_paragraph">
      </div>
      <div>
	<table id="form_table">
	</table>
      </div>
  </div>
  <div id="tabs-2">
  </div>

</div>
</div>

{% endblock %}



<!--
TODO

-- make form fit into current question-answer scheme from current html
-- create an id_name for each label (lowerCase and replace spaces with underscores)
-- for selects, ids have dashes (-) not underscores (_)
-- add incident and phase support

-- save to incident. Save button in HTML tab, JSON tab and form creator div

-- separate into files

-- qunit

-- edit an existing form (after you save it)

-- html remove field

-- html add field here

-- add order to the form_json_array? That way, we can have label at 0, paragraph at 1... what happens when one is deleted in place?

__

order

#make form fit into current format

add subheading (like heading, but with h3)
add incident support

new tabs,
  phases
    html
    json
    edit json

autosave(?) save progress(?)
save button

edit form

add phases
edit phases

test with lat/lng auto geocode
_____

_____

Phases
- change div ids for tabs-1, tabs-2

- change left hand to show different forms

Associate with Incident

Save
-- phases and forms json(s) to incident
-- save to recycle bin saved within model

Inherit
- a phase
- a form

- phases schema
-- without forms
-- with forms

Edit html/json
-- Line _____________  Edit | Remove | Add element above

Refactor JQuery

Move JQuery into separate files

JUnit
-->