
{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block login %}
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}
<a href="/incident_form_creator">Go to forms</a> | <a href="/incident_edit?id={{ incident_definition_object.key().id() }}">Edit</a>
<h2>Incident Definition</h2>
<h3>Incident Information</h3>
  <p>Incident Name: {{ incident_definition_object.name }}</p>
  <p>Short Name: {{ incident_definition_object.short_name }}</p>
  <p>Time Zone: {{ incident_definition_object.timezone }}</p>
  <p>Incident Date: {{ incident_definition_object.incident_date }}</p>
  <p>Start Date: {{ incident_definition_object.cleanup_start_date }}</p>
  <p>Work Order Prefix: {{ incident_definition_object.work_order_prefix }}</p>
  <p>Centroid Latitude: {{ incident_definition_object.incident_lat }}</p>
  <p>Centroid Longitude: {{ incident_definition_object.incident_lng }}</p>
<h3>Local Admin Information</h3>
  <p>Name: {{ incident_definition_object.local_admin_name }}</p>
  <p>Title: {{ incident_definition_object.local_admin_title }}</p>
  <p>Organization: {{ incident_definition_object.local_admin_organization }}</p>
  <p>Email: {{ incident_definition_object.local_admin_email }}</p>
  <p>Cell Phone: {{ incident_definition_object.local_admin_cell_phone }}</p>
  <p>Password: {{ incident_definition_object.local_admin_password }}</p>

{% endblock %}

