
{% extends "base_template.html" %}

{% block head_content %}
<link href="/stylesheets/default.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block login %}
{% endblock %}


{% block description_title %}
{% endblock %}

{% block description_subtitle %}
{% endblock %}

{% block sidebar_title %}
{% endblock %}

{% block sidebar_content %}
{% endblock %}

{% block main_title %}
{% endblock %}

{% block main_content %}
<form action="/incident_definition" method="POST">
<h2>Incidents</h2>

{% for incident in incidents %}
<a href="/incident_definition?id={{ incident.key().id() }}"> {{ incident.full_name }}</a>
<br>
<p>{{ incident.phases_json }}</p>
{% endfor %}

{% endblock %}

