{% extends "base_template.html" %}

{% block description_title %}
{{ show_password_description_title_page_block|safe }}
{% endblock %}

{% block description_subtitle %}
{{ show_password_description_subtitle_page_block|safe }}
{% endblock %}

{% block sidebar_title %}
{{ show_password_sidebar_title_page_block|safe }}
{% endblock %}

{% block sidebar_content %}
{{ show_password_sidebar_content_page_block|safe }}
{% endblock %}

{% block main_title %}
{{ show_password_main_title_page_block|safe }}
{% endblock %}

{% block main_content %}
{{ show_password_main_content_page_block|safe }}

<h2>Organization: {{ org.name }}</h2>

<p>Your password is: <b>{{ org.password }}</b>

{% endblock %}
